@import "../../../../assets/css/variables";

.modal-header {
  border: none;
  padding: 20px 20px 0;
  .modal-title {
    font-weight: 600;
    font-size: $fontSize14;
    color: $textColor;
  }
  .btn-close {
    font-size: $fontSize12;
    padding: 4px;
  }
  .btn-primary {
    font-weight: 600;
    font-size: $fontSize14;
    color: $white;
    background-color: $buttonColor;
    border-color: $buttonColor;
    margin-left: 10px;
    padding: 5px 12px;
    border-radius: 5px;
  }
}

.modal-body {
  padding: 12px 20px 35px;
  .document-verification-box {
    border: 0.5px solid $borderBoxColor;
    margin-bottom: 10px;
    .document-verification-heading {
      font-weight: 600;
      font-size: $fontSize14;
      color: $black;
      padding: 12px 20px;
      border-bottom: 0.5px solid $borderBoxColor;
    }
    .document-verification-row {
      padding: 12px 20px 24px;
      .document-verification-title {
        font-size: $fontSize12;
        color: $navbarTextColor;
        margin-bottom: 6px;
      }
      .document-verification-text {
        font-weight: 600;
        font-size: $fontSize13;
        color: $textColor;
      }
    }
  }
  .banker-table {
    margin-top: 40px !important;
  }

  .verification-table-title {
    font-weight: 600;
    font-size: $fontSize14;
    color: $black;
    margin: 20px 0 10px;
  }
  .document-verification-table {
    height: 250px;
    .table {
      margin-bottom: 0;
      thead {
        border-color: $tableBorderColor;
        position: sticky;
        top: 0;
        tr {
          border-width: 0.5px;
          th {
            background-color: $buttonColor;
            height: 40px;
            color: $white;
            font-weight: 600;
            font-size: $fontSize12;
            padding: 12px 16px;
            border: none;
          }
        }
      }
      tbody {
        border: 0.5px solid $tableBorderColor;
        tr {
          border-width: 0.5px;
          td {
            height: 36px;
            padding: 10px 16px;
            font-weight: 500;
            font-size: $fontSize12;
            color: $black;
            border-width: 0.5px;
            .doc-status-red-text,
            .doc-status-grey-text,
            .doc-status-yellow-text,
            .doc-status-blue-text {
              font-weight: 600;
              font-size: $fontSize10;
              color: $tableTextColor;
              margin-bottom: 0;
              border-radius: 50px;
              padding: 4px 12px;
              background-color: $greyButtonColor;
              display: inline;
            }
            .doc-status-yellow-text {
              color: $secondary;
              background-color: $fadeYellow;
            }

            .doc-status-red-text {
              color: $tableRedTextColor;
              background-color: $redButtonColor;
            }
            .doc-status-blue-text {
              color: $blueColor;
              background-color: $blueButtonColor;
            }
          }
        }
      }
    }
  }

  //collaspe
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }

  .collapse-title {
    position: relative;
    padding: 1rem 3.5rem 1rem 1rem;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--color-strata-yellow-1);
    margin-bottom: 1rem;
    background-color: $tableBlueTextColor;
    margin-top: 20px;

    //  &.collapsed{
    //   background-color: #fef1c9;
    // }

    // &-expand-indicator {
    //   position: absolute;
    //   top: 50%;
    //   right: 1rem;
    //   transform: translateY(-50%);
    //   .collapse-icon {
    //     transition: transform 0.35s ease;
    //   }
    // }
    &:not(.collapsed) {
      .collapse-icon {
        transition: transform 0.35s ease;
        transform: rotateZ(45deg);
      }
    }
  }

  // end

  .document-preview-container {
    border: 0.5px solid $previewBorderColor;
    height: 100%;
    padding: 16px 20px 30px;
    .document-preview-heading {
      font-weight: 600;
      font-size: $fontSize14;
      color: $black;
    }

    .document-preview-btns {
      margin-top: 20px;
      .btn-primary {
        font-weight: 600;
        font-size: $fontSize14;
        color: $white;
        background-color: $buttonColor;
        border-color: $buttonColor;
        margin-left: 10px;
        padding: 5px 12px;
        border-radius: 5px;
      }
      .btn-outline-primary {
        font-weight: 600;
        font-size: $fontSize14;
        color: $icon-color;
        background-color: $white;
        border-color: $icon-color;
        padding: 5px 12px;
        border-radius: 5px;
      }
    }
  }
  select {
    margin: 15px 0px;
  }
  .modal-footer {
    border-top: 0 none;
  }
}
.modal-footer {
  .btn-primary {
    font-weight: 600;
    font-size: $fontSize14;
    color: $white;
    background-color: $buttonColor;
    border-color: $buttonColor;
    margin-left: 10px;
    padding: 5px 12px;
    border-radius: 5px;
  }
  .btn-outline-primary {
    font-weight: 600;
    font-size: $fontSize14;
    color: $icon-color;
    background-color: $white;
    border-color: $icon-color;
    padding: 5px 12px;
    border-radius: 5px;
  }
}
