.sidenav-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    .logo-wrapper {
        height: 50px;
        width: 170px;
        overflow: hidden;
        margin: 20px;
        img {
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        color: #ffffff;
        li {
            margin: 5px 0;
            padding: 10px;
            cursor: pointer;
            p {
                font-size: 16px;
                line-height: 26px;
                margin: 0 0 0 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
            a {
                font-size: 16px;
                line-height: 26px;
                margin: 0 0 0 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: #ffffff;
                text-decoration: none;
                span {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
            a:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }
        li:hover {
            background-color: #000000;
        }
    }
    .links-wrapper {
        position: relative;
        ul {
            list-style-type: none;
            padding-left: 0;
            color: #ffffff;
            li {
                margin: 5px 0;
                padding: 10px;
                cursor: pointer;
                a {
                    font-size: 16px;
                    line-height: 26px;
                    margin: 0 0 0 10px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    color: #ffffff;
                    text-decoration: none;
                    span {
                        font-size: 30px;
                        margin-right: 10px;
                    }
                }
                a:hover {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
            li:hover {
                background-color: #000000;
            }
        }
    }
    .links-wrapper::after {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 1px solid #374151;
    }
    .account-wrapper {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        border-top: 1px solid #374151;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon-wrapper {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            margin: auto 0;
            .person {
                font-size: 40px;
            }
        }
    }
    .address-wrapper {
        position: relative;
        p {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            span {
                cursor: pointer;
            }
            .copy-icon {
                margin: 0 10px 0 40px;
            }
        }
        .profile-option-wrapper {
            background-color: #000000;
            padding: 10px;
            position: absolute;
            top: -100px;
            right: 0;
            width: 100%;
            border-radius: 12px;
            p {
                margin: 0;
                font-size: 16px;
                line-height: 26px;
                padding: 5px 10px;
                cursor: pointer;
            }
        }
    }
}

$color_1: #ffffff;
$background-color_1: #131313;
$background-color_2: #000000;

.mobile-menu {
    display: none;
}
.sidebar-opener {
    cursor: pointer;
}
.sidebar-slider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $background-color_1;
    transform: translateX(0%);
    transition: ease-in-out 300ms transform;
    width: 270px;
    z-index: 99999;
}
.sidebar-slider.sidebar-slide-in {
    transform: translateX(-110%);
    transition: ease-in-out 600ms transform;
    z-index: 1000;
}
.router-link-active {
    background-color: $background-color_2;
}
.sidebar-close {
    top: 0;
    color: $color_1;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    left: 90%;
    font-size: 25px;
}

@media (min-width: 1518px) {
    .sidenav-wrapper {
        .logo-wrapper {
            height: 3.66vw;
            width: 12.44vw;
            margin: 1.46vw;
        }
        ul {
            li {
                margin: 0.36vw 0;
                padding: 0.73vw;
                p {
                    font-size: 1.17vw;
                    line-height: 1.9vw;
                    margin: 0 0 0 0.73vw;
                    span {
                        font-size: 2.19vw;
                        margin-right: 0.73vw;
                    }
                }
                a {
                    font-size: 1.17vw;
                    line-height: 1.9vw;
                    margin: 0 0 0 0.73vw;
                    span {
                        font-size: 2.19vw;
                        margin-right: 0.73vw;
                    }
                }
            }
        }
        .links-wrapper {
            ul {
                li {
                    margin: 0.36vw 0;
                    padding: 0.73vw;
                    a {
                        font-size: 1.17vw;
                        line-height: 1.9vw;
                        margin: 0 0 0 0.73vw;
                        span {
                            font-size: 2.19vw;
                            margin-right: 0.73vw;
                        }
                    }
                }
            }
        }
        .links-wrapper::after {
            top: -0.58vw;
            border-top: 0.07vw solid #374151;
        }
        .account-wrapper {
            padding: 0.73vw 1.46vw;
            border-top: 0.07vw solid #374151;
            .icon-wrapper {
                height: 3.66vw;
                width: 3.66vw;
                .person {
                    font-size: 2.92vw;
                }
            }
        }
        .address-wrapper {
            p {
                font-size: 1.17vw;
                line-height: 1.9vw;
                .copy-icon {
                    font-size: 1.75vw;
                    margin: 0 0.73vw 0 2.92vw;
                }
            }
            .profile-option-wrapper {
                padding: 0.73vw;
                top: -7.32vw;
                border-radius: 0.87vw;
                p {
                    font-size: 1.17vw;
                    line-height: 1.9vw;
                    padding: 0.36vw 0.73vw;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
    .sidenav-wrapper {
        .address-wrapper {
            p {
                .copy-icon {
                    margin: 0 5px 0 15px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .web-view {
        display: none;
    }
    .mobile-menu {
        display: block;
        .menu_bar {
            display: flex;
            margin-right: 20px;
        }
    }
    .sidenav-wrapper {
        .account-wrapper {
            width: 100%;
        }
    }
}
