<ng-container *ngIf="viewClaimList">
    <div class="cases-claims-box">
        <div class="claim-dashboard-btns d-flex justify-content-between align-items-center">
            <h6>Case/Claim ({{totalrecords}})</h6>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                (input)="filterByStatus($event)">
                <option selected>Filter by Status</option>
                <option value="ALL">All</option>
                <option value="BANKER_ACTION_PENDING">Pending</option>
                <option value="SUBMITTED">Submitted Document</option>
            </select>
        </div>

        <div class="table-container table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="align-middle">
                        <th scope="col">S.No</th>
                        <th scope="col">PunchIn Ref. ID</th>
                        <th scope="col">Lender Name</th>
                        <th scope="col">Claim Inward Date</th>
                        <th scope="col">Borrower Name</th>
                        <th scope="col">Borrower Contact Number</th>
                        <th scope="col">Borrower City</th>
                        <th scope="col">Borrower State</th>
                        <th scope="col">Borrower Pin Code</th>
                        <th scope="col">Borrower Email Id</th>
                        <th scope="col">Borrower Alternate Contact Number</th>
                        <th scope="col">Borrower Alternate Contact Details</th>
                        <th scope="col">Borrower DOB</th>
                        <th scope="col">Loan Account Number</th>
                        <th scope="col">Borrower Address</th>
                        <th scope="col">Loan Type</th>
                        <th scope="col">Loan Disbursal Date</th>
                        <th scope="col">Loan Outstanding Amount</th>
                        <th scope="col">Loan Amount</th>
                        <th scope="col">Loan Amount Paid By Borrower</th>
                        <th scope="col">Loan Amount Balance</th>
                        <th scope="col">Branch Code</th>
                        <th scope="col">Branch Name</th>
                        <th scope="col">Branch Address</th>
                        <th scope="col">Branch Pin Code</th>
                        <th scope="col">Branch City</th>
                        <th scope="col">Branch State</th>
                        <th scope="col">Loan Account Manager Name</th>
                        <th scope="col">Account Manager Contact Number</th>
                        <th scope="col">Insurer Name</th>
                        <th scope="col">Master Pol Number</th>
                        <th scope="col">Policy Number</th>
                        <th scope="col">Policy Start Date</th>
                        <th scope="col">Policy Coverage Duration</th>
                        <th scope="col">Policy Sum Assured</th>
                        <th scope="col">Insurer Claim Id</th>
                        <th scope="col">Nominee Name</th>
                        <th scope="col">Nominee RelationShip</th>
                        <th scope="col">Nominee Contact Number</th>
                        <th scope="col">Nominee Email Id</th>
                        <th scope="col">Nominee Address</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <ng-container *ngIf="submittedclaimListContent?.length>0">
                    <tbody class="align-middle" *ngFor="let item of submittedclaimListContent;let i = index">
                        <tr>
                            <td>
                                {{ (pageNo) * pageSize + i +1 }}
                            </td>
                            <td>{{item.punchinClaimId}}</td>
                            <td>{{item.punchinBankerId}}</td>
                            <td>{{item.claimInwardDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.borrowerName}}</td>
                            <td>{{item.borrowerContactNumber}}</td>
                            <td>{{item.borrowerCity}}</td>
                            <td>{{item.borrowerState}}</td>
                            <td>{{item.borrowerPinCode}}</td>
                            <td>{{item.borrowerEmailId}}</td>
                            <td>{{item.borrowerAlternateContactNumber}}</td>
                            <td>{{item.borrowerAlternateContactDetails}}</td>
                            <td>{{item.borrowerDob}}</td>
                            <td>{{item.loanAccountNumber}}</td>
                            <td>{{item.borrowerAddress}}</td>
                            <td>{{item.loanType }}</td>
                            <td>{{item.loanDisbursalDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.loanOutstandingAmount}}</td>
                            <td>{{item.loanAmount}}</td>
                            <td>{{item.loanAmountPaidByBorrower}}</td>
                            <td>{{item.loanAmountBalance}}</td>
                            <td>{{item.branchCode}}</td>
                            <td>{{item.branchName}}</td>
                            <td>{{item.branchAddress}}</td>
                            <td>{{item.branchPinCode}}</td>
                            <td>{{item.branchCity}}</td>
                            <td>{{item.branchState}}</td>
                            <td>{{item.loanAccountManagerName}}</td>
                            <td>{{item.accountManagerContactNumber}}</td>
                            <td>{{item.insurerName}}</td>
                            <td>{{item.masterPolNumber}}</td>
                            <td>{{item.policyNumber}}</td>
                            <td>{{item.policyStartDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.policyCoverageDuration}}</td>
                            <td>{{item.policySumAssured}}</td>
                            <td>{{item.insurerClaimId}}</td>
                            <td>{{item.nomineeName}}</td>
                            <td>{{item.nomineeRelationShip}}</td>
                            <td>{{item.nomineeContactNumber}}</td>
                            <td>{{item.nomineeEmailId}}</td>
                            <td>{{item.nomineeAddress}}</td>
                            <td class="text-center">
                                <ng-container *ngIf="item.claimStatus === 'CLAIM_INTIMATED'; else OtherStatus">
                                    <span (click)="editClaimList(item.id)"><img src="assets/icons/action.svg"></span>
                                </ng-container>
                                <ng-template #OtherStatus>
                                    <span><img src="assets/icons/action(fade).svg"></span>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>
        <div class="pagination-box d-flex justify-content-end align-items-center"
            *ngIf="submittedclaimListContent?.length>0">
            <div class="pages-per-rows d-flex align-items-center">
                <!-- <p class="per-row-title">Page Per Rows</p>
                <h6 class="per-row-text">
                    <select (input)="pagePerData($event)">
                        <option value="10">10</option>
                        <option [value]="totalrecords">{{totalrecords}}</option>
                    </select>
                </h6> -->
                <!-- <img src="../../../assets/icons/chevron-down.svg"> -->
            </div>
            <div class="pagination-content">
                <pagination [totalItems]="totalrecords" previousText="&lsaquo;" nextText="&rsaquo;"
                    (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" firstText="&laquo;" lastText="&raquo;"
                    [maxSize]="5"></pagination>
            </div>
        </div>
    </div>
</ng-container>

<!-- <ng-container
    *ngIf="!submittedclaimListContent || (submittedclaimListContent && submittedclaimListContent?.length === 0)">
    <div class="error-wrapper">
        <p>
            No Data Found
        </p>
    </div>
</ng-container> -->


<!-- Documentation Upload -->
<div class="container-fluid documentation-upload-box" *ngIf="editCliamList">
    <h6 class="documentation-upload-heading">Documentation Upload</h6>
    <form [formGroup]="showClaimForm">
        <div class="borrower-details">
            <div class="heading-color-box">
                <h6>Borrower Details</h6>
            </div>
            <div class="row g-3 documentation-upload-forms">
                <div class="col-4">
                    <label for="case-claim-id" class="form-label">Case/Claim Id</label>
                    <input type="text" class="form-control" id="case-claim-id" formControlName="caseId" readonly>
                </div>
                <div class="col-4">
                    <label for="borrower-name" class="form-label">Borrower name</label>
                    <input type="text" class="form-control" id="borrower-name" formControlName="brrower_name" readonly>
                </div>
                <div class="col-4">
                    <label for="borrower-address" class="form-label">Borrower Address</label>
                    <input type="text" class="form-control" id="borrower-address" readonly
                        formControlName="borrower_address">
                </div>
            </div>
        </div>

        <div class="loan-details">
            <div class="heading-color-box">
                <h6>Loan Details</h6>
            </div>
            <div class="row g-3 documentation-upload-forms">
                <div class="col-4">
                    <label for="loan-type" class="form-label">Loan Type</label>
                    <input type="text" class="form-control" id="loan-type" formControlName="load_type" readonly>
                </div>
                <div class="col-4">
                    <label for="loan-account-number" class="form-label">Loan Account Number</label>
                    <input type="text" class="form-control" id="loan-account-number" formControlName="loan_acc_number"
                        readonly>
                </div>
            </div>
        </div>

        <div class="insurance-details">
            <div class="heading-color-box">
                <h6>Insurance Details</h6>
            </div>
            <div class="row g-3 documentation-upload-forms">
                <div class="col-4">
                    <label for="insurer-name" class="form-label">Insurer Name</label>
                    <input type="text" class="form-control" id="insurer-name" formControlName="insurer_name" readonly>
                </div>
                <div class="col-4">
                    <label for="borrower-policy-number" class="form-label">Borrower policy number</label>
                    <input type="text" class="form-control" id="borrower-policy-number"
                        formControlName="borrower_policy_number" readonly>
                </div>
                <div class="col-4">
                    <label for="master-policy-number" class="form-label">Master Policy Number</label>
                    <input type="text" class="form-control" id="master-policy-number"
                        formControlName="master_policy_number" readonly>
                </div>
            </div>
        </div>

        <div class="claim-seggregation-details">
            <div class="heading-color-box">
                <h6>Claim Seggregation Details</h6>
            </div>
            <div class="row g-3 documentation-upload-forms">
                <div class="col-4">
                    <label for="borrower-sum-assured" class="form-label">Borrower Sum Assured</label>
                    <input type="text" class="form-control" id="borrower-sum-assured"
                        formControlName="borrower_sum_assured" readonly>
                </div>
                <div class="col-4">
                    <label for="original-loan-amt" class="form-label">Original Loan amt</label>
                    <input type="text" class="form-control" id="original-loan-amt" formControlName="original_loan_amt"
                        readonly>
                </div>
                <div class="col-4">
                    <label for="loan-amount-paid-by-borrower" class="form-label">Loan amount paid by borrower</label>
                    <input type="text" class="form-control" id="loan-amount-paid-by-borrower"
                        formControlName="Loan_paid_by_borrower" readonly>
                </div>
                <div class="col-4">
                    <label for="outstanding-loan-amt-payable" class="form-label">Outstanding Loan Amt payable to
                        MPH</label>
                    <input type="text" class="form-control" id="outstanding-loan-amt-payable"
                        formControlName="outstanding_loan_amt" readonly>
                </div>
                <div class="col-4">
                    <label for="balance-claim-amt" class="form-label">Balance Claim Amt (payable to the nominee)</label>
                    <input type="text" class="form-control" id="balance-claim-amt" readonly
                        formControlName="balance_claim_amt">
                </div>
            </div>
        </div>
    </form>

    <div class="document-upload">
        <div class="heading-color-box">
            <h6>Document Upload</h6>
        </div>
        <!-- <div class="alert alert-success" *ngIf="isSucessUpload">
            <strong>Success!</strong> file Upload Successfully.
        </div> -->
        <form [formGroup]="uploadForm" class="row g-3 documentation-upload-forms">
            <div class="col-4">
                <select class="form-select" aria-label="Default select example" formControlName="docType">
                    <option selected [ngValue]="null">Document Type</option>
                    <option value="CAS">CAS</option>
                    <option value="COVID_Q">COVID Q</option>
                    <option value="FUF">FUF</option>
                    <option value="DOGH">DOGH</option>
                    <option value="POS_LETTER">POS Letter</option>
                    <option value="PROPOSAL_FORM">Proposal Form </option>
                    <option value="SANCTION_LETTER">Sanction Letter</option>
                    <option value="SMQ">SMQ</option>
                    <option value="MEF">MEF</option>
                    <option value="OTHER">Other</option>
                </select>
            </div>
            <div class="col-4">
                <input type="file" multiple (change)="fileBrowseHandler($event)" accept=".pdf,.jpg,.jpeg,.png"
                    formControlName="files" />
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary" (click)="uploadDocument()" [disabled]="!uploadForm.valid">
                    <ng-container *ngIf="isUploaded;else isUploadedDone">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Uploading...
                    </ng-container>
                    <ng-template #isUploadedDone>
                        Upload
                    </ng-template>
                </button>

            </div>
            <div class="col-8" *ngIf="isSubmittedTable">
                <div class="table-responsive document-upload-table"
                    *ngIf="ClaimListDataById.claimDocumentsDTOS.length > 0">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="align-middle">
                                <th scope="col">Document Type</th>
                                <th scope="col" class="text-center">Document View</th>
                                <th scope="col" class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of ClaimListDataById.claimDocumentsDTOS">
                                <tr>
                                    <td>{{item.docType}}</td>
                                    <td class="text-center">
                                        <span (click)="viewDoc(item)"><i class="fa fa-eye"
                                                aria-hidden="true"></i></span>
                                    </td>
                                    <td class="text-center">
                                        <span (click)="deleteDoc(item.id)"><i class="fa fa-trash"
                                                aria-hidden="true"></i></span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-8" *ngIf="isUploadedTable">
                <div class="table-responsive document-upload-table">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="align-middle">
                                <th scope="col">Document Type</th>
                                <th scope="col" class="text-center">Document View</th>
                                <th scope="col" class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container>
                                <tr>
                                    <td>{{uploadedData?.docType}}</td>
                                    <td class="text-center">
                                        <span (click)="viewUploadedDoc(uploadedData)"><i class="fa fa-eye"
                                                aria-hidden="true"></i></span>
                                    </td>
                                    <td class="text-center">
                                        <span (click)="deleteDoc(uploadedData.id)"><i class="fa fa-trash"
                                                aria-hidden="true"></i></span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

    <div class="text-center submit-save-btn">
        <button type="button" class="btn btn-primary" (click)="back()">Back</button>
        <button type="button" class="btn btn-outline-primary" (click)="saveToDraft()">Save as Draft</button>
        <button type="button" class="btn btn-primary" (click)="submitClaim()">Submit</button>
    </div>
</div>