// Colour config

@import url("https://fonts.cdnfonts.com/css/nunito");

// Colors
$primary: #212060;
$secondary: #fecd08;
$black: #000000;
$white: #ffffff;
$icon-color: #3489c9;
$textColor: #2b2c2d;
$labelColor: #20130b;
$borderColor: #e9ecef;
$inputColor: #8b8b8b;
$buttonColor: #134e85;
$accountTextColor: #333333;
$lightTextColor: #9c9c9c;
$tableHeaderColor: #103150;
$paginationBorderColor: #bcbcbc;
$paginationArrowColor: #185bc3;
$navbarTextColor: #5c5c5c;
$dashboardBackground: #f5f5f5;
$uploadText: #667085;
$borderColor: #eaecf0;
$seaGreenColor: #1dafaf;
$purpleColor: #8888dd;
$blueColor: #7cb5ec;

// Font Sizes
$fontSize32: 2rem;
$fontSize28: 28px;
$fontSize24: 24px;
$fontSize22: 22px;
$fontSize20: 20px;
$fontSize18: 1.125rem;
$fontSize16: 1rem;
$fontSize14: 0.875rem;
$fontSize12: 0.75rem;
$fontSize10: 10px;
$fontSize8: 8px;
$fontSize6: 6px;
