.default-layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .default-content-wrapper {
    padding: 0 20px;
    background-color: #f5f5f5;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
