@import "../../assets/css/variables";

.default-layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $dashboardBackground;
  .default-content-wrapper {
    padding: 0 20px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
