.container {
    width: 100%;
    height: 100px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #316be7;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* file upload */
.bulk-upload-box {
    padding: 0 20px 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    margin: 14px 0 18px;
}
.upload-box-head {
    padding: 16px 0 12px;
}

.bulk-txt {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    color: #2b2c2d;
}
.btn-outline-primary {
    border-color: #3489c9;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #3489c9;
}
.btn-outline-primary:hover {
    background-color: #ffffff;
}
.upload-box {
    background-color: #ffffff;
    border: 1px dashed #eaecf0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 228px;
    text-decoration: none;
}
h6 {
    margin-bottom: 0;
    font-size: 14px;
    color: #134e85;
    margin-top: 12px;
}
span {
    font-weight: 400;
    color: #667085;
}

input {
    /* opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; */
    /* display: none; */
}

label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #161616;
    margin-bottom: 0;
}

.logo-wrapper {
    height: 24px;
    width: 32px;
}

.click-text {
    color: #316be7;
}

.logo-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.files-list {
    margin-top: 1.5rem;
}
.single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;
    display: flex;
    flex-grow: 1;
}
.delete {
    display: flex;
    margin-left: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
}
.name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}

.size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0 0 0.25rem;
}

.info {
    width: 100%;
}

.progress-cont {
    height: 7px;
    width: 100%;
    border-radius: 4px;
    background-color: #d0d0d0;
    position: relative;
}

.progress {
    width: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #316be7;
    transition: 0.5s all;
}

/* Shake animation */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media screen and (max-width: 767px) {
    h3 {
        font-size: 12px;
        font-weight: 600;
    }
}
