@import "../../../assets/css/variables";

.navbar {
  background: $white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  height: 84px;
  padding: 0 28px;
  .navbar-brand {
    padding: 0;
    margin-right: 30px;
  }
  .nav-link {
    font-size: $fontSize14;
    color: $navbarTextColor;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }
  .nav-link.active {
    color: $buttonColor;
    font-weight: 500;
  }

  .nav-link.active span {
    position: relative;
  }
  .nav-link.active span:after {
    position: absolute;
    left: 0;
    bottom: -125%;
    content: "";
    width: 46px;
    border-bottom: 2px solid $buttonColor;
  }
  .nav-link svg {
    margin-right: 10px;
  }
  .nav-link svg path {
    stroke: $navbarTextColor;
  }
  .nav-link.active svg path {
    stroke: $buttonColor;
  }

  .account-box {
    .notification-icon {
      margin-right: 20px;
    }
    .profile-pic {
      margin-right: 8px;
    }
    .account-text {
      h6 {
        font-weight: 400;
        font-size: $fontSize14;
        color: $accountTextColor;
        margin-bottom: 4px;
      }
      p {
        font-size: $fontSize10;
        color: $lightTextColor;
        margin-bottom: 0;
        cursor: pointer;
      }
    }
    .chevron-down {
      margin-left: 10px;
    }
    span {
      cursor: pointer;
    }
  }
  .profile-logout-box {
    position: absolute;
    background-color: $white;
    border-radius: 7px;
    width: 175px;
    height: 107px;
    padding: 18px 0 0 20px;
    right: 0;
    top: 69px;
    z-index: 5;
    .format-text {
      text-decoration: none;
      img {
        width: 15px;
      }
    }
    .profile-text,
    .logout-text {
      text-decoration: none;
    }

    .profile-text span,
    .format-text span,
    .logout-text span {
      font-weight: 600;
      font-size: $fontSize14;
      color: $navbarTextColor;
      margin-bottom: 0;
      margin-left: 16px;
    }
    .logout-text,
    .format-text,
    .profile-text {
      margin-top: 8px;
      cursor: pointer;
    }
  }
  // .profile-logout-box::after {
  //   content: "";
  //   position: absolute;
  //   top: 2px;
  //   right: 14px;
  //   width: 12px;
  //   height: 12px;
  //   background-color: $white;
  //   transform: rotate(45deg) translate(-50%, -50%);
  // }
}
