@import "../../../assets/css/variables";

.claim-dashboard-box {
  padding: 28px 20px 20px;
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 8px;
  .claims-allocated-box,
  .claims-action-pending-box,
  .claims-in-progress-box {
    background-color: $seaGreenColor;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    height: 95px;
    padding: 26px 0 0 28px;
    display: flex;
    align-items: flex-start;
    img {
      margin-right: 14px;
    }
    h5 {
      font-weight: 700;
      margin-bottom: 0;
      color: $white;
    }
    h6 {
      color: $white;
      margin-bottom: 0;
    }
  }
  .claims-action-pending-box {
    background-color: $purpleColor;
  }
  .claims-in-progress-box {
    background-color: $blueColor;
  }
}

.bulk-upload-box {
  padding: 0 20px 15px;
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin: 14px 0 18px;
  .upload-box-head {
    padding: 16px 0 12px;
    h6 {
      margin-bottom: 0;
      font-weight: 600;
      font-size: $fontSize14;
      color: $textColor;
    }
    .btn-outline-primary {
      border-color: $icon-color;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $icon-color;
    }
    .btn-outline-primary:hover {
      background-color: $white;
    }
  }
  .upload-box {
    background-color: $white;
    border: 1px dashed $borderColor;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 228px;
    text-decoration: none;
    h6 {
      margin-bottom: 0;
      font-size: $fontSize14;
      color: $buttonColor;
      margin-top: 12px;
      span {
        font-weight: 400;
        color: $uploadText;
      }
    }
  }
}

.cases-claims-box {
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 14px;
  padding-right: 25px;
  .claim-dashboard-btns {
    h6 {
      font-weight: 600;
      font-size: $fontSize14;
      color: $textColor;
      padding: 20px 20px 24px;
      margin-bottom: 0;
    }
    .btn-primary {
      background-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      margin-left: 10px;
      border-color: $buttonColor;
    }
    .btn-outline-primary {
      border-color: $icon-color;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $icon-color;
      padding: 6px 15px;
    }
    .btn-outline-primary:hover {
      background: $white;
    }
  }
  .table-container {
    .table {
      margin-bottom: 19px;
    }
    th {
      background-color: $tableHeaderColor;
      font-weight: 600;
      font-size: $fontSize12;
      color: $white;
      height: 52px;
    }
    td {
      font-size: $fontSize12;
      color: $navbarTextColor;
      height: 64px;
    }
    th:last-child,
    td:last-child {
      position: sticky;
      right: 0px;
      cursor: pointer;
    }
    td:last-child {
      cursor: pointer;
    }
    th:first-child,
    td:first-child {
      padding-left: 16px;
    }
  }
  .pagination-box {
    padding: 0 26px 20px 20px;
    .pages-per-rows {
      .per-row-title {
        font-size: $fontSize14;
        color: $navbarTextColor;
        margin-right: 8px;
        margin-bottom: 0;
      }
      .per-row-text {
        font-weight: 800;
        font-size: $fontSize14;
        color: $buttonColor;
        padding: 0;
        margin-right: 5px;
        margin-bottom: 0;
      }
    }

    .pagination-content {
      ::ng-deep ul.pagination {
        margin-bottom: 0;
        padding-bottom: 10px;
        li.page-item .page-link {
          width: 30px;
          height: 30px;
          border-color: $icon-color;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: $fontSize14;
          color: $icon-color;
          padding: 0;
          margin: 0 7px !important;
        }
        li.page-item.active .page-link {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
          z-index: 0;
        }
        li.page-item .page-link:hover {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
        }
        li.pagination-prev .page-link,
        li.pagination-next .page-link {
          border-color: $paginationBorderColor;
          color: $paginationArrowColor;
          font-size: $fontSize24;
        }
        li.pagination-prev.disabled .page-link {
          color: $paginationBorderColor;
        }
      }
    }
  }
}

// Documentation Upload
.documentation-upload-box {
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin: 14px 0 30px;
  padding: 22px 48px 48px;
  .documentation-upload-heading {
    font-weight: 600;
    font-size: $fontSize14;
    color: $black;
    margin-bottom: 14px;
  }
  .heading-color-box {
    h6 {
      background-color: $textColorBox;
      font-weight: 600;
      font-size: $fontSize14;
      color: $black;
      margin-bottom: 0;
      padding: 12px 20px;
      margin-bottom: 16px;
      margin-top: 20px;
    }
  }
  .documentation-upload-forms {
    .form-label {
      font-size: $fontSize13;
      color: $black;
    }
    .form-control {
      background-color: $inputBackground;
      border-color: $inputBorderColor;
      border-radius: 4px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $black;
      height: 45px;
    }
    .form-control::placeholder {
      color: $black;
    }
    .form-select {
      height: 45px;
      padding: 0 16px 0 20px;
      font-weight: 600;
      font-size: $fontSize14;
      letter-spacing: 0.02em;
      color: $black;
    }
    .browse-upload-box {
      border: 1px solid $inputBorderColor;
      border-radius: 4px;
      padding: 6px 16px 6px 20px;
      height: 45px;
      .browse-text {
        font-weight: 600;
        font-size: $fontSize14;
        color: $inputBorderColor;
        margin-bottom: 0;
      }
      .btn-light {
        font-weight: 600;
        font-size: $fontSize14;
        color: $black;
        background-color: $white;
        border-color: $uploadButtonBorderColor;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 5px 19px;
      }
    }
    .document-upload-table {
      .table {
        margin-bottom: 0;
        thead {
          border-color: $tableBorderColor;
          position: sticky;
          top: 0;
          tr {
            border-width: 0.5px;
            th {
              background-color: $buttonColor;
              color: $white;
              font-weight: 600;
              font-size: $fontSize12;
              padding: 11px 16px;
              border: none;
            }
          }
        }
        tbody {
          border: 0.5px solid $tableBorderColor;
          tr {
            border-width: 0.5px;
            td {
              padding: 8px 16px;
              font-weight: 500;
              font-size: $fontSize12;
              color: $black;
              border-width: 0.5px;
            }
          }
        }
      }
    }
  }

  .submit-save-btn {
    margin-top: 30px;
    .btn-primary {
      background-color: $buttonColor;
      border-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      margin-left: 16px;
      padding: 6px 14px;
    }
  }
  .btn-outline-primary {
    border-color: $navbarTextColor;
    border-radius: 5px;
    font-weight: 600;
    font-size: $fontSize14;
    color: $navbarTextColor;
    padding: 6px 14px;
  }
  .btn-outline-primary:hover {
    background-color: $white;
  }
}

// Discrepancy/New Requirements
.new-requirements-container {
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin: 14px 0 20px;
  padding: 22px 100px 24px 127px;
  .new-requirements-heading {
    font-weight: 600;
    font-size: $fontSize16;
    color: $black;
    margin-bottom: 12px;
  }
  .new-requirements-table {
    .table {
      margin-bottom: 0;
      thead {
        border-color: $tableBorderColor;
        position: sticky;
        top: 0;
        tr {
          border-width: 0.5px;
          th {
            background-color: $buttonColor;
            color: $white;
            font-weight: 600;
            font-size: $fontSize12;
            padding: 11px 16px;
            border: none;
          }
        }
      }
      tbody {
        border: 0.5px solid $tableBorderColor;
        tr {
          border-width: 0.5px;
          td {
            padding: 8px 16px;
            font-weight: 500;
            font-size: $fontSize12;
            color: $black;
            border-width: 0.5px;
            .doc-status-red-text,
            .doc-status-grey-text,
            .doc-status-blue-text {
              font-weight: 600;
              font-size: $fontSize10;
              color: $tableTextColor;
              margin-bottom: 0;
              border-radius: 50px;
              padding: 4px 12px;
              background-color: $greyButtonColor;
              display: inline;
            }
            .doc-status-blue-text {
              color: $tableBlueTextColor;
              background-color: $blueButtonColor;
            }
            .doc-status-red-text {
              color: $tableRedTextColor;
              background-color: $redButtonColor;
            }
          }
        }
      }
    }
  }

  .document-preview-container {
    border: 0.5px solid $previewBorderColor;
    height: 100%;
    padding: 20px;
    .upload-required-text {
      font-size: $fontSize13;
      color: $black;
      margin-bottom: 16px;
    }
    .form-select {
      height: 45px;
      padding: 0 16px 0 20px;
      font-weight: 600;
      font-size: $fontSize14;
      letter-spacing: 0.02em;
      color: $black;
    }
    .browse-upload-box {
      border: 1px solid $inputBorderColor;
      border-radius: 4px;
      margin-top: 12px;
      padding: 6px 16px 6px 20px;
      .browse-text {
        font-weight: 600;
        font-size: $fontSize14;
        color: $uploadTextColor;
        margin-bottom: 0;
      }
      .btn-light {
        font-weight: 600;
        font-size: $fontSize14;
        color: $black;
        background-color: $white;
        border-color: $uploadButtonBorderColor;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 7px 20px;
      }
    }
    .btn-primary {
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      background-color: $buttonColor;
      border-color: $buttonColor;
      border-radius: 5px;
      width: 100%;
      height: 43px;
      margin-top: 30px;
    }
  }

  .discrepancy-remark-container {
    .discrepancy-remark-text {
      font-size: $fontSize13;
      letter-spacing: 0.02em;
      color: $black;
      margin-top: 16px;
    }
    .discrepancy-remark {
      background-color: $inputBackground;
      border: 1px solid $inputBorderColor;
      border-radius: 4px;
      padding: 12px 20px 14px;
      .document-mismatch-text,
      .bank-account-cheque-leaf {
        font-weight: 600;
        font-size: $fontSize14;
        color: $black;
        margin-bottom: 0;
      }
      .bank-account-cheque-leaf {
        margin-top: 31px;
      }
    }
  }
}

.profile-logout-box {
  position: relative;
  background-color: $white;
  border-radius: 7px;
  width: 142px;
  height: 97px;
  padding: 23px 0 0 20px;
  .profile-text,
  .logout-text {
    text-decoration: none;
  }
  .profile-text span,
  .logout-text span {
    font-weight: 600;
    font-size: $fontSize14;
    color: $navbarTextColor;
    margin-bottom: 0;
    margin-left: 16px;
  }
  .logout-text {
    margin-top: 16px;
  }
}
.profile-logout-box::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 14px;
  width: 12px;
  height: 12px;
  background-color: $white;
  transform: rotate(45deg) translate(-50%, -50%);
}

.rejection-container {
  background-color: $white;
  width: 390px;
  padding: 20px;
  .rejection-heading {
    font-weight: 600;
    font-size: $fontSize14;
    color: $black;
    margin-bottom: 0;
  }
  .form-label {
    font-size: $fontSize13;
    color: $black;
    margin-top: 4px;
  }
  .form-select {
    font-weight: 600;
    font-size: $fontSize14;
    letter-spacing: 0.02em;
    color: $black;
    border-color: $inputBorderColor;
    border-radius: 4px;
    padding: 11px 16px 11px 20px;
  }
  .form-control {
    border-color: $inputBorderColor;
    border-radius: 4px;
    resize: none;
    padding: 16px 20px;
    height: 168px;
    font-weight: 600;
    font-size: $fontSize14;
    color: $black;
  }
  .form-control::placeholder {
    color: $black;
  }
  .btn-primary {
    font-weight: 600;
    font-size: $fontSize14;
    color: $white;
    background-color: $buttonColor;
    border-color: $buttonColor;
    border-radius: 5px;
    width: 100%;
    height: 43px;
    margin-top: 14px;
  }
}

.successfully-approved {
  width: 300px;
  height: 275px;
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  img {
    width: 100px;
    height: 100px;
  }
  h6 {
    font-weight: 700;
    color: $textColor;
  }
}

.document-rejected {
  width: 300px;
  height: 275px;
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  img {
    width: 100px;
    height: 100px;
  }
  h6 {
    font-weight: 700;
    color: $textColor;
  }
}
