<ng-container *ngIf="role =='BANKER'">
    <div class="container-fluid claim-dashboard-box">
        <div class="claim-dashboard-search d-flex justify-content-between align-items-center"
            *ngIf="cordListData.length > 0">
            <h6>Service/Claim Dashboard</h6>
            <form [formGroup]=" searchForm">
                <div class="row" *ngIf="onStep === 0">
                    <div class="col-4">
                        <select class="form-select form-select-md" aria-label=".form-select-sm example"
                            (input)="searchBySelectedData($event)" formControlName="selectedValue">
                            <option selected [ngValue]="null">Select</option>
                            <option value="CLAIM_DATA_ID">PunchIn Ref. ID</option>
                            <option value="NAME">Name</option>
                            <option value="LOAN_ACCOUNT_NUMBER">Loan Account Number</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Search..."
                                formControlName="search" />
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" (click)="searchTableData()"
                            [disabled]="!searchForm.valid">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-3" [ngClass]="{ active: onStep === 0 }" (click)="onStep = 0">
                <div class="claims-allocated-box" (click)="showCardDetails('ALL')">
                    <img src="../../../assets/icons/claim.svg">
                    <div>
                        <h5>
                            {{bankerDashboardData[bankerStatusEnum.all] || 0}}
                        </h5>
                        <h6> Claims - Allocated</h6>
                    </div>
                </div>
            </div>
            <div class="col-3" [ngClass]="{ active: onStep === 1 }" (click)="onStep = 1;innerStep = 0">
                <div class="claims-in-progress-box" (click)="showCardDetails('WIP')">
                    <img src="../../../assets/icons/claim.svg">
                    <div>
                        <h5>
                            {{bankerDashboardData[bankerStatusEnum.inprogress] || 0}}
                        </h5>
                        <h6>Claims - In Progress</h6>
                    </div>
                </div>
            </div>
            <div class="col-3" [ngClass]="{ active: onStep === 2 }" (click)="onStep = 2">
                <div class="claims-verify-box" (click)="showCardDetails('UNDER_VERIFICATION')">
                    <img src="../../../assets/icons/claim.svg">
                    <div>
                        <h5>{{bankerDashboardData[bankerStatusEnum.underVerification] || 0}}</h5>
                        <h6>Claims - Under Verification</h6>
                    </div>
                </div>
            </div>
            <div class="col-3" [ngClass]="{ active: onStep === 3 }" (click)="onStep = 3">
                <div class="claims-action-pending-box " (click)="showCardDetails('SETTLED')">
                    <img src="../../../assets/icons/claim.svg">
                    <div>
                        <h5>
                            {{bankerDashboardData[bankerStatusEnum.settled] || 0}}
                        </h5>
                        <h6>Claims - Submitted </h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="claimListContent.length === 0 && isShow === true">
        <app-file-upload (AwsFileList)="onGetUploadedFile($event)"></app-file-upload>
    </div>
    <div class="cases-claims-box">
        <div class="claim-dashboard-btns d-flex justify-content-between align-items-center"
            *ngIf="cordListData.length > 0 && isShowFileUploaded">
            <h6 *ngIf="onStep === 0 || onStep === 2 || onStep === 3">Case/Claim({{this.totalrecords || 0}})</h6>
            <div *ngIf="onStep === 1">
                <button type="button" class="btn btn-light m-2" [routerLinkActive]="['active']"
                    [ngClass]="{active: innerStep === 0}" (click)="innerStep = 0"
                    (click)="showCardDetails('WIP')">In-Progress</button>

                <button type="button" [routerLinkActive]="['active']" class="btn btn-light"
                    [ngClass]="{active: innerStep === 1}" (click)="innerStep = 1"
                    (click)="showCardDetails('DISCREPENCY')">Discrepancy</button>
            </div>
            <button type="button" class="btn btn-primary btn1"
                *ngIf="onStep === 0 || onStep === 1 || onStep === 2 || onStep === 3" (click)="openModal1(fileTemplate)">
                <img src="../../../assets/icons/action(white).svg" class="me-2">Upload xls File</button>

            <button type="button" class="btn btn-outline-primary" (click)="downloadMisReport()"
                *ngIf="onStep === 0 || onStep === 1 || onStep === 2 || onStep === 3"><img
                    src="../../../assets/icons/download.svg" class="me-2">Download MIS
                report
            </button>
            <button type="button" class="btn btn-outline-primary" *ngIf="onStep === 0"
                (click)="getDownloadExcelFormat()"><img src="../../../assets/icons/download.svg" class="me-2">Download
                Standardized Format
            </button>
        </div>
        <div *ngIf="cordListData.length > 0 && isShowFileUploaded">
            <div class="table-container table-responsive" *ngIf="onStep === 0">
                <table class="table  table-sm">
                    <thead>
                        <tr class="align-middle">
                            <th scope="col">S.No</th>
                            <th scope="col"><span style="cursor:pointer;"
                                    [routerLink]="['/pages/claim-documentation']">Punchin Ref.
                                    ID</span></th>
                            <th scope="col">Lender Name </th>
                            <th scope="col">Claim Inward Date</th>
                            <th scope="col">Borrower Name</th>
                            <th scope="col">Borrower Contact Number</th>
                            <th scope="col">Borrower City</th>
                            <th scope="col">Borrower State</th>
                            <th scope="col">Borrower Pin Code</th>
                            <th scope="col">Borrower Email Id</th>
                            <th scope="col">Borrower Alternate Contact Number</th>
                            <th scope="col">Borrower Alternate Contact Details</th>
                            <th scope="col">Borrower DOB</th>
                            <th scope="col">Loan Account Number</th>
                            <th scope="col">Borrower Address</th>
                            <th scope="col">Loan Type</th>
                            <th scope="col">Loan Disbursal Date</th>
                            <th scope="col">Loan Outstanding Amount</th>
                            <th scope="col">Loan Amount</th>
                            <th scope="col">Loan Amount Paid By Borrower</th>
                            <th scope="col">Loan Amount Balance</th>
                            <th scope="col">Branch Code</th>
                            <th scope="col">Branch Name</th>
                            <th scope="col">Branch Address</th>
                            <th scope="col">Branch Pin Code</th>
                            <th scope="col">Branch City</th>
                            <th scope="col">Branch State</th>
                            <th scope="col">Loan Account Manager Name</th>
                            <th scope="col">Account Manager Contact Number</th>
                            <th scope="col">Insurer Name</th>
                            <th scope="col">Master Pol Number</th>
                            <th scope="col">Policy Number</th>
                            <th scope="col">Policy Start Date</th>
                            <th scope="col">Policy Coverage Duration</th>
                            <th scope="col">Policy Sum Assured</th>
                            <th scope="col">Insurer Claim Id</th>
                            <th scope="col">Nominee Name</th>
                            <th scope="col">Nominee RelationShip</th>
                            <th scope="col">Nominee Contact Number</th>
                            <th scope="col">Nominee Email Id</th>
                            <th scope="col">Nominee Address</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col" class="text-center">Raise Additional Doc Request</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" *ngFor="let item of cordListData;let i = index">
                        <tr>
                            <td>
                                {{ (pageNo ) * pageSize + i +1 }}
                            </td>
                            <td>{{item.punchinClaimId}}</td>
                            <td>{{item.punchinBankerId}}</td>
                            <td>{{item.claimInwardDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.borrowerName}}</td>
                            <td>{{item.borrowerContactNumber}}</td>
                            <td>{{item.borrowerCity}}</td>
                            <td>{{item.borrowerState}}</td>
                            <td>{{item.borrowerPinCode}}</td>
                            <td>{{item.borrowerEmailId}}</td>
                            <td>{{item.borrowerAlternateContactNumber}}</td>
                            <td>{{item.borrowerAlternateContactDetails}}</td>
                            <td>{{item.borrowerDob}}</td>
                            <td>{{item.loanAccountNumber}}</td>
                            <td>{{item.borrowerAddress}}</td>
                            <td>{{item.loanType }}</td>
                            <td>{{item.loanDisbursalDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.loanOutstandingAmount}}</td>
                            <td>{{item.loanAmount}}</td>
                            <td>{{item.loanAmountPaidByBorrower}}</td>
                            <td>{{item.loanAmountBalance}}</td>
                            <td>{{item.branchCode}}</td>
                            <td>{{item.branchName}}</td>
                            <td>{{item.branchAddress}}</td>
                            <td>{{item.branchPinCode}}</td>
                            <td>{{item.branchCity}}</td>
                            <td>{{item.branchState}}</td>
                            <td>{{item.loanAccountManagerName}}</td>
                            <td>{{item.accountManagerContactNumber}}</td>
                            <td>{{item.insurerName}}</td>
                            <td>{{item.masterPolNumber}}</td>
                            <td>{{item.policyNumber}}</td>
                            <td>{{item.policyStartDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.policyCoverageDuration}}</td>
                            <td>{{item.policySumAssured}}</td>
                            <td>{{item.insurerClaimId}}</td>
                            <td>{{item.nomineeName}}</td>
                            <td>{{item.nomineeRelationShip}}</td>
                            <td>{{item.nomineeContactNumber}}</td>
                            <td>{{item.nomineeEmailId}}</td>
                            <td>{{item.nomineeAddress}}</td>
                            <td>
                                <span class="status-button">{{item.claimStatus | removeunderscore | titlecase}}</span>
                            </td>
                            <td class="text-center">
                                <span (click)="OpenAdditionalDocModal(raiseAdditionalDoc)">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="table-container table-responsive"
            *ngIf="((onStep === 1 && innerStep === 0) || (onStep === 1 && innerStep === 1) || onStep === 2 || onStep === 3) && isShowFileUploaded">
            <table class="table  table-sm" *ngIf="isShow === false">
                <thead>
                    <tr class="align-middle">
                        <th scope="col">S.No</th>
                        <th scope="col"><span style="cursor:pointer;"
                                [routerLink]="['/pages/claim-documentation']">Punchin Ref.
                                ID</span></th>
                        <th scope="col">Lender Name</th>
                        <th scope="col">Claim Inward Date</th>
                        <th scope="col">Borrower Name</th>
                        <th scope="col">Borrower Contact Number</th>
                        <th scope="col">Borrower City</th>
                        <th scope="col">Borrower State</th>
                        <th scope="col">Borrower Pin Code</th>
                        <th scope="col">Borrower Email Id</th>
                        <th scope="col">Borrower Alternate Contact Number</th>
                        <th scope="col">Borrower Alternate Contact Details</th>
                        <th scope="col">Borrower DOB</th>
                        <th scope="col">Loan Account Number</th>
                        <th scope="col">Borrower Address</th>
                        <th scope="col">Loan Type</th>
                        <th scope="col">Loan Disbursal Date</th>
                        <th scope="col">Loan Outstanding Amount</th>
                        <th scope="col">Loan Amount</th>
                        <th scope="col">Loan Amount Paid By Borrower</th>
                        <th scope="col">Loan Amount Balance</th>
                        <th scope="col">Branch Code</th>
                        <th scope="col">Branch Name</th>
                        <th scope="col">Branch Address</th>
                        <th scope="col">Branch Pin Code</th>
                        <th scope="col">Branch City</th>
                        <th scope="col">Branch State</th>
                        <th scope="col">Loan Account Manager Name</th>
                        <th scope="col">Account Manager Contact Number</th>
                        <th scope="col">Insurer Name</th>
                        <th scope="col">Master Pol Number</th>
                        <th scope="col">Policy Number</th>
                        <th scope="col">Policy Start Date</th>
                        <th scope="col">Policy Coverage Duration</th>
                        <th scope="col">Policy Sum Assured</th>
                        <th scope="col">Insurer Claim Id</th>
                        <th scope="col">Nominee Name</th>
                        <th scope="col">Nominee RelationShip</th>
                        <th scope="col">Nominee Contact Number</th>
                        <th scope="col">Nominee Email Id</th>
                        <th scope="col">Nominee Address</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center" *ngIf="onStep === 1 && innerStep === 1">Action</th>

                    </tr>
                </thead>
                <ng-container *ngIf="cordListData.length > 0 && isShowFileUploaded">
                    <tbody class="align-middle" *ngFor="let item of cordListData;let i = index">
                        <tr>
                            <td>
                                {{ (pageNo) * pageSize + i +1 }}
                            </td>
                            <td>{{item.punchinClaimId}}</td>
                            <td>{{item.punchinBankerId}}</td>
                            <td>{{item.claimInwardDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.borrowerName}}</td>
                            <td>{{item.borrowerContactNumber}}</td>
                            <td>{{item.borrowerCity}}</td>
                            <td>{{item.borrowerState}}</td>
                            <td>{{item.borrowerPinCode}}</td>
                            <td>{{item.borrowerEmailId}}</td>
                            <td>{{item.borrowerAlternateContactNumber}}</td>
                            <td>{{item.borrowerAlternateContactDetails}}</td>
                            <td>{{item.borrowerDob}}</td>
                            <td>{{item.loanAccountNumber}}</td>
                            <td>{{item.borrowerAddress}}</td>
                            <td>{{item.loanType }}</td>
                            <td>{{item.loanDisbursalDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.loanOutstandingAmount}}</td>
                            <td>{{item.loanAmount}}</td>
                            <td>{{item.loanAmountPaidByBorrower}}</td>
                            <td>{{item.loanAmountBalance}}</td>
                            <td>{{item.branchCode}}</td>
                            <td>{{item.branchName}}</td>
                            <td>{{item.branchAddress}}</td>
                            <td>{{item.branchPinCode}}</td>
                            <td>{{item.branchCity}}</td>
                            <td>{{item.branchState}}</td>
                            <td>{{item.loanAccountManagerName}}</td>
                            <td>{{item.accountManagerContactNumber}}</td>
                            <td>{{item.insurerName}}</td>
                            <td>{{item.masterPolNumber}}</td>
                            <td>{{item.policyNumber}}</td>
                            <td>{{item.policyStartDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{item.policyCoverageDuration}}</td>
                            <td>{{item.policySumAssured}}</td>
                            <td>{{item.insurerClaimId}}</td>
                            <td>{{item.nomineeName}}</td>
                            <td>{{item.nomineeRelationShip}}</td>
                            <td>{{item.nomineeContactNumber}}</td>
                            <td>{{item.nomineeEmailId}}</td>
                            <td>{{item.nomineeAddress}}</td>
                            <td class="text-center status-button">{{item.claimStatus | removeunderscore | titlecase}}
                            </td>
                            <td class="text-center" *ngIf="onStep === 1 && innerStep === 1">
                                <span (click)="OpenBankerDiscrepancyModal(bankerDiscrepancy, item.id)">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>
        <div class="pagination-box d-flex justify-content-end align-items-center"
            *ngIf="cordListData.length > 0 && isShowFileUploaded">
            <!-- <div class="pages-per-rows d-flex align-items-center">
                <p class="per-row-title">Page Per Rows</p>
                <h6 class="per-row-text">
                    <select (input)="pagePerData($event)">
                        <option value="10">10</option>
                        <option [value]="totalrecords">{{totalrecords}}</option>
                    </select>
                </h6>
            </div> -->

            <div class="pagination-content">
                <pagination [totalItems]="totalrecords" previousText="&lsaquo;" nextText="&rsaquo;"
                    (pageChanged)="changeBankerPage($event)" [itemsPerPage]="pageSize" firstText="&laquo;"
                    lastText="&raquo;" [maxSize]="5" [(ngModel)]="currentPage"></pagination>
            </div>
        </div>
    </div>
    <div class="cases-upload-box" *ngIf="claimListContent.length > 0">
        <div class="claim-dashboard-btns d-flex justify-content-between align-items-center">
            <h6>Service/Claim Dashboard ({{totalrecords || 0}})</h6>
            <div>
                <button type="button" class="btn btn-outline-primary" (click)="deleteClaim()">Discard</button>
                <button type="button" class="btn btn-primary" (click)="submitClaim()">
                    <ng-container *ngIf="isSubmitted ;else isSubmittedDone">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Submitting...
                    </ng-container>
                    <ng-template #isSubmittedDone>
                        Submit
                    </ng-template>
                </button>
            </div>
        </div>
        <div class="table-container table-responsive">
            <table class="table">
                <thead>
                    <tr class="align-middle">
                        <th scope="col">S.No</th>
                        <th scope="col">PunchIn Ref. ID</th>
                        <th scope="col">Lender Name</th>
                        <th scope="col">Claim Inward Date</th>
                        <th scope="col">Borrower Name</th>
                        <th scope="col">Borrower Contact Number</th>
                        <th scope="col">Borrower City</th>
                        <th scope="col">Borrower State</th>
                        <th scope="col">Borrower Pin Code</th>
                        <th scope="col">Borrower Email Id</th>
                        <th scope="col">Borrower Alternate Contact Number</th>
                        <th scope="col">Borrower Alternate Contact Details</th>
                        <th scope="col">Borrower DOB</th>
                        <th scope="col">Loan Account Number</th>
                        <th scope="col">Borrower Address</th>
                        <th scope="col">Loan Type</th>
                        <th scope="col">Loan Disbursal Date</th>
                        <th scope="col">Loan Outstanding Amount</th>
                        <th scope="col">Loan Amount</th>
                        <th scope="col">Loan Amount Paid By Borrower</th>
                        <th scope="col">Loan Amount Balance</th>
                        <th scope="col">Branch Code</th>
                        <th scope="col">Branch Name</th>
                        <th scope="col">Branch Address</th>
                        <th scope="col">Branch Pin Code</th>
                        <th scope="col">Branch City</th>
                        <th scope="col">Branch State</th>
                        <th scope="col">Loan Account Manager Name</th>
                        <th scope="col">Account Manager Contact Number</th>
                        <th scope="col">Insurer Name</th>
                        <th scope="col">Master Pol Number</th>
                        <th scope="col">Policy Number</th>
                        <th scope="col">Policy Start Date</th>
                        <th scope="col">Policy Coverage Duration</th>
                        <th scope="col">Policy Sum Assured</th>
                        <th scope="col">Insurer Claim Id</th>
                        <th scope="col">Nominee Name</th>
                        <th scope="col">Nominee RelationShip</th>
                        <th scope="col">Nominee Contact Number</th>
                        <th scope="col">Nominee Email Id</th>
                        <th scope="col">Nominee Address</th>
                    </tr>
                </thead>
                <tbody class="align-middle" *ngFor="let item of claimListContent;let i = index">
                    <tr>
                        <td>
                            {{ (currentPage) * pageSize + i +1 }}
                        </td>
                        <td>{{item.punchinClaimId}}</td>
                        <td>{{item.punchinBankerId}}</td>
                        <td>{{item.claimInwardDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{item.borrowerName}}</td>
                        <td>{{item.borrowerContactNumber}}</td>
                        <td>{{item.borrowerCity}}</td>
                        <td>{{item.borrowerState}}</td>
                        <td>{{item.borrowerPinCode}}</td>
                        <td>{{item.borrowerEmailId}}</td>
                        <td>{{item.borrowerAlternateContactNumber}}</td>
                        <td>{{item.borrowerAlternateContactDetails}}</td>
                        <td>{{item.borrowerDob}}</td>
                        <td>{{item.loanAccountNumber}}</td>
                        <td>{{item.borrowerAddress}}</td>
                        <td>{{item.loanType }}</td>
                        <td>{{item.loanDisbursalDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{item.loanOutstandingAmount}}</td>
                        <td>{{item.loanAmount}}</td>
                        <td>{{item.loanAmountPaidByBorrower}}</td>
                        <td>{{item.loanAmountBalance}}</td>
                        <td>{{item.branchCode}}</td>
                        <td>{{item.branchName}}</td>
                        <td>{{item.branchAddress}}</td>
                        <td>{{item.branchPinCode}}</td>
                        <td>{{item.branchCity}}</td>
                        <td>{{item.branchState}}</td>
                        <td>{{item.loanAccountManagerName}}</td>
                        <td>{{item.accountManagerContactNumber}}</td>
                        <td>{{item.insurerName}}</td>
                        <td>{{item.masterPolNumber}}</td>
                        <td>{{item.policyNumber}}</td>
                        <td>{{item.policyStartDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{item.policyCoverageDuration}}</td>
                        <td>{{item.policySumAssured}}</td>
                        <td>{{item.insurerClaimId}}</td>
                        <td>{{item.nomineeName}}</td>
                        <td>{{item.nomineeRelationShip}}</td>
                        <td>{{item.nomineeContactNumber}}</td>
                        <td>{{item.nomineeEmailId}}</td>
                        <td>{{item.nomineeAddress}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-box d-flex justify-content-end align-items-center">
            <!-- <div class="pages-per-rows d-flex align-items-center">
                <p class="per-row-title">Page Per Rows</p>
                <h6 class="per-row-text">
                    <select (input)="pagePerData($event)">
                        <option value="10">10</option>
                        <option [value]="totalrecords">{{totalrecords}}</option>
                    </select>
                </h6>
            </div> -->
            <div class="pagination-content">
                <pagination [totalItems]="totalrecords" previousText="&lsaquo;" nextText="&rsaquo;"
                    (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" firstText="&laquo;" lastText="&raquo;"
                    [maxSize]="5" [(ngModel)]="currentPage"></pagination>
            </div>
        </div>
    </div>

    <ng-template #raiseAdditionalDoc>
        <div class="modal-header">
            <h6 class="modal-title">Raise Additional Document Request</h6>

            <button type="button" class="btn-close close pull-right" aria-label="Close"
                (click)="this.bsModalRef1?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid raise-additional-container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive new-requirements-table">
                            <form [formGroup]="form" (ngSubmit)="submitForm()">

                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr class="align-middle">
                                            <th scope="col">Document Name</th>
                                            <th scope="col" class="text-center">Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of Data; let i=index">
                                            <td>{{data.name}}</td>
                                            <td class="text-center">
                                                <input type="checkbox" [value]="data.value"
                                                    (change)="onSelectCheckbox($event)" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="mt-2">
                                    <label>Remark</label>
                                    <input class="form-control" placeholder=" Enter Remark">
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #bankerDiscrepancy>
        <div class="modal-header">
            <button type="button" class="btn-close close pull-right" aria-label="Close"
                (click)="this.bsModalRef2?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body new-requirements-container">

            <div class="container-fluid ">
                <h6 class="new-requirements-heading">Discrepancy/New Requirements</h6>
                <div class="row">
                    <div class="col-8">
                        <div class="table-responsive new-requirements-table">
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr class="align-middle">
                                        <th scope="col">Document Name</th>
                                        <th scope="col" class="text-center">Uploaded Doc</th>
                                        <th scope="col" class="text-center">Doc Status</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of bankerDoc">
                                        <tr>
                                            <td>{{item.agentDocType | removeunderscore | titlecase}} </td>
                                            <td class="text-center">
                                                <span *ngIf="item.isVerified == false"><img
                                                        src="../../../../assets/icons/right-tick-blue.svg"></span>
                                                <span *ngIf="item.isVerified == true && item.isApproved == false">
                                                    <img src="assets/icons/cross-red.svg">
                                                </span>
                                                <span *ngIf="item.isVerified == true && item.isApproved == true">
                                                    <img src="assets/icons/tick-green.svg"> </span>
                                            </td>
                                            <td class="text-center">
                                                <p class="doc-status-yellow-text" *ngIf="item.isVerified == false">
                                                    Uploaded
                                                </p>
                                                <p class="doc-status-red-text"
                                                    *ngIf="item.isVerified == true && item.isApproved == false">
                                                    Rejected
                                                </p>
                                                <p class="doc-status-blue-text"
                                                    *ngIf="item.isVerified == true && item.isApproved == true">
                                                    Approved
                                                </p>
                                            </td>
                                            <td class="text-center" (click)="viewBankerDoc(item)"><img
                                                    src="../../../assets/icons/eye.svg">
                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-4">
                        <form [formGroup]="bankerform">

                            <div class="document-preview-container">
                                <p class="upload-required-text">Upload Required Documents</p>

                                <select class="form-select" aria-label="Default select example"
                                    (input)="filterByAddDoc($event)" formControlName="addDoc">
                                    <option selected [ngValue]="null">Select Additional Document Type</option>
                                    <option *ngFor="let item of selectBankerDoc" [value]="item">{{item}}</option>
                                </select>
                                <input type="file" (change)="fileBrowseHandler($event)" #fileUplaod class="d-none" />
                                <div class="browse-upload-box d-flex align-items-center justify-content-between"
                                    (click)="fileUplaod.click()">
                                    <p class="browse-text">Browse</p>
                                    <button type="button" class="btn btn-light">Upload</button>
                                </div>
                                <p>{{docName}}</p>
                                <button type="button" class="btn btn-primary" (click)="submitBankerData()"
                                    [disabled]="!bankerform.valid">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- <div class="row discrepancy-remark-container">
                    <div class="col-8">
                        <h6 class="discrepancy-remark-text">Discrepancy Remark</h6>
                        <div class="discrepancy-remark">
                            <p class="document-mismatch-text">Document mismatch please upload again <br> the
                                following documents.
                            </p>
                            <p class="bank-account-cheque-leaf"> 1. Bank Account Cheque Leaf</p>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div> -->
            </div>

        </div>
    </ng-template>




</ng-container>






<!-- Verifier Dashboard -->
<ng-container *ngIf="role =='ADMIN' || role =='VERIFIER'">
    <div class="container-fluid claim-dashboard-box">
        <div class="claim-dashboard-search d-flex justify-content-between align-items-center"
            *ngIf="verifiercordListData.length > 0">
            <h6>Service/Claim Dashboard</h6>
            <form [formGroup]="searchForm">
                <div class="row" *ngIf="onStep === 0">
                    <div class="col-4">
                        <select class="form-select form-select-md" aria-label=".form-select-sm example"
                            (input)="searchBySelectedData($event)" formControlName="selectedValue">
                            <option selected [ngValue]="null">Select</option>
                            <option value="CLAIM_DATA_ID">PunchIn Ref. ID</option>
                            <option value="NAME">Name</option>
                            <option value="LOAN_ACCOUNT_NUMBER">Loan Account Number</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Search..."
                                formControlName="search" />
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" (click)="searchTableData()">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-3" [ngClass]="{active: onStep === 0}" (click)="onStep = 0">
                <div class="claims-allocated-box" (click)="verifierCardDetails('ALL')">
                    <img src="../../../assets/icons/claim.svg">
                    <div>
                        <h5>{{verifierDashboardData[verifierStatusEnum.all] || 0}}</h5>
                        <h6> Claims - Allocated</h6>
                    </div>
                </div>
            </div>
            <div class="col-3" [ngClass]="{active: onStep === 1}" (click)="onStep = 1">
                <div class="claims-in-progress-box" (click)="verifierCardDetails('WIP');innerStep = 0">
                    <img src="../../../assets/icons/claim.svg">
                    <div>
                        <h5>{{verifierDashboardData[verifierStatusEnum.inprogress] || 0}}</h5>
                        <h6>Claims - In Progress</h6>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="claims-verify-box" (click)="verifierCardDetails('UNDER_VERIFICATION')">
                    <img src="../../../assets/icons/claim.svg">
                    <div>
                        <h5>{{verifierDashboardData[verifierStatusEnum.underVerification] || 0}}</h5>
                        <h6>Claims - Under Verification</h6>
                    </div>
                </div>
            </div>
            <div class="col-3" [ngClass]="{active: onStep === 2}" (click)="onStep = 2">
                <div class="claims-action-pending-box" (click)="verifierCardDetails('SETTLED')">
                    <img src="../../../assets/icons/claim.svg">
                    <div>
                        <h5>{{verifierDashboardData[verifierStatusEnum.settled] || 0}}</h5>
                        <h6>Claims - Submitted</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cases-claims-box verifier-table">
        <div class="claim-dashboard-btns d-flex justify-content-between align-items-center">
            <h6 *ngIf="(onStep === 0 || onStep === 2 )">Cases/Claims({{totalrecords || 0}})</h6>
            <div *ngIf="onStep === 1">
                <button type="button" class="btn btn-primary m-2" [routerLinkActive]="['active']"
                    [ngClass]="{active: innerStep === 0}" (click)="innerStep = 0"
                    (click)="verifierCardDetails('WIP')">In-Progress</button>
                <button type="button" [routerLinkActive]="['active']" class="btn btn-primary"
                    [ngClass]="{active: innerStep === 1}" (click)="innerStep = 1"
                    (click)="verifierCardDetails('DISCREPENCY')">Discrepancy</button>
            </div>
            <button type="button" class="btn btn-outline-primary v-bnt1" (click)="downloadMisReport()"><img
                    src="../../../assets/icons/download.svg" class="me-2">Download MIS
                report
            </button>
            <select class="form-select form-select-md" aria-label=".form-select-sm example" *ngIf="onStep === 0"
                (input)="filterByStatus($event)">
                <option selected>Filter by Status</option>
                <option value="ALL">Allocated</option>
                <option value="WIP">In-Progress</option>
                <option value="SETTLED">Submitted</option>

                <!-- <option value="3">Sent to Insurer</option> -->
            </select>
        </div>
        <div class="table-container table-responsive"
            *ngIf="onStep === 0 || onStep === 1 || (onStep === 1 && innerStep === 0) || (onStep === 1 && innerStep === 1) || onStep === 2">
            <table class="table table-sm">
                <thead>
                    <tr class="align-middle">
                        <th scope="col">S.No</th>
                        <th scope="col"><span style="cursor:pointer;" (click)="viewUnderVerification()">Punchin Ref.
                                ID</span></th>
                        <th scope="col">Claim Registration Date </th>
                        <th scope="col">Borrower Name</th>
                        <th scope="col">Nominee Name </th>
                        <th scope="col">Contact number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Signed claim form </th>
                        <th scope="col">Death Certificate </th>
                        <th scope="col">Borrower ID Proof</th>
                        <th scope="col">Nominee Id Proof </th>
                        <th scope="col">Bank A/c Proof </th>
                        <th scope="col"> Nominee KYC Proof</th>
                        <th scope="col">Additional Document</th>
                        <th scope="col" class="text-center ">Status</th>
                    </tr>
                </thead>
                <tbody class="align-middle" *ngFor="let item of verifiercordListData;let i = index">
                    <tr>
                        <td>
                            {{ (currentPage) * pageSize + i +1 }}
                        </td>
                        <td>{{item.punchinClaimId}}</td>
                        <td>{{item.claimDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{item.borrowerName}}</td>
                        <td>{{item.nomineeName}}</td>
                        <td>{{item.nomineeContactNumber}}</td>
                        <td>{{item.borrowerAddress}}</td>
                        <td>
                            <span *ngIf="item.singnedClaimDocument === 'UPLOADED'"> <img
                                    src="assets/icons/bluetick.svg"></span>
                            <span *ngIf="item.singnedClaimDocument === 'NOT_UPLOADED'"> <img
                                    src="assets/icons/cross.svg"></span>
                            <span *ngIf="item.singnedClaimDocument === 'APPROVED'"><img
                                    src="assets/icons/tick-green.svg"></span>
                            <span *ngIf="item.singnedClaimDocument === 'REJECTED'"><img
                                    src="assets/icons/cross-red.svg">
                            </span>
                        </td>
                        <td>
                            <span *ngIf="item.deathCertificate === 'UPLOADED'"> <img
                                    src="assets/icons/bluetick.svg"></span>
                            <span *ngIf="item.deathCertificate === 'NOT_UPLOADED'"> <img
                                    src="assets/icons/cross.svg"></span>
                            <span *ngIf="item.deathCertificate === 'APPROVED'"><img
                                    src="assets/icons/tick-green.svg"></span>
                            <span *ngIf="item.deathCertificate === 'REJECTED'">
                                <img src="assets/icons/cross-red.svg">
                            </span>
                        </td>
                        <td>
                            <span *ngIf="item.borrowerIdProof === 'UPLOADED'"> <img
                                    src="assets/icons/bluetick.svg"></span>
                            <span *ngIf="item.borrowerIdProof === 'NOT_UPLOADED'"> <img
                                    src="assets/icons/cross.svg"></span>
                            <span *ngIf="item.borrowerIdProof === 'APPROVED'"><img
                                    src="assets/icons/tick-green.svg"></span>
                            <span *ngIf="item.borrowerIdProof === 'REJECTED'"><img src="assets/icons/cross-red.svg">
                            </span>
                        </td>
                        <td>
                            <span *ngIf="item.nomineeIdProof === 'UPLOADED'"> <img
                                    src="assets/icons/bluetick.svg"></span>
                            <span *ngIf="item.nomineeIdProof === 'NOT_UPLOADED'"> <img
                                    src="assets/icons/cross.svg"></span>
                            <span *ngIf="item.nomineeIdProof === 'APPROVED'"><img
                                    src="assets/icons/tick-green.svg"></span>
                            <span *ngIf="item.nomineeIdProof === 'REJECTED'"><img src="assets/icons/cross-red.svg">
                            </span>
                        </td>
                        <td>
                            <span *ngIf="item.bankAccountProof === 'UPLOADED'"> <img
                                    src="assets/icons/bluetick.svg"></span>
                            <span *ngIf="item.bankAccountProof === 'NOT_UPLOADED'"> <img
                                    src="assets/icons/cross.svg"></span>
                            <span *ngIf="item.bankAccountProof === 'APPROVED'"><img
                                    src="assets/icons/tick-green.svg"></span>
                            <span *ngIf="item.bankAccountProof === 'REJECTED'"><img src="assets/icons/cross-red.svg">
                            </span>
                        </td>
                        <td>
                            <span><img src="assets/icons/cross.svg"></span>
                            <!-- <span *ngIf="item.bankAccountProof === 'UPLOADED'"> <img
                                    src="assets/icons/bluetick.svg"></span>
                            <span *ngIf="item.bankAccountProof === 'NOT_UPLOADED'"> <img
                                    src="assets/icons/cross.svg"></span>
                            <span *ngIf="item.bankAccountProof === 'APPROVED'"><img
                                    src="assets/icons/tick-green.svg"></span>
                            <span *ngIf="item.bankAccountProof === 'REJECTED'"><img src="assets/icons/cross-red.svg">
                            </span> -->
                        </td>
                        <td>
                            <span *ngIf="item.additionalDoc === 'UPLOADED'"> <img
                                    src="assets/icons/bluetick.svg"></span>
                            <span *ngIf="item.additionalDoc === 'NOT_UPLOADED'"> <img
                                    src="assets/icons/cross.svg"></span>
                            <span *ngIf="item.additionalDoc ==='APPROVED'"><img
                                    src="assets/icons/tick-green.svg"></span>
                            <span *ngIf="item.additionalDoc === 'REJECTED'"><img src="assets/icons/cross-red.svg">
                            </span>
                        </td>
                        <td class="text-center status-button">
                            {{item.claimStatus | removeunderscore | titlecase}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-box d-flex justify-content-end align-items-center"
            *ngIf="verifiercordListData.length > 0">
            <!-- <div class="pages-per-rows d-flex align-items-center">
                <p class="per-row-title">Page Per Rows</p>
                <h6 class="per-row-text">
                    <select (input)="pagePerData($event)">
                        <option value="10">10</option>
                        <option [value]="totalrecords">{{totalrecords}}</option>
                    </select>
                </h6>
            </div> -->
            <div class="pagination-content">
                <pagination [totalItems]="totalrecords" previousText="&lsaquo;" nextText="&rsaquo;"
                    (pageChanged)="changeVerifierPage($event)" [itemsPerPage]="pageSize" firstText="&laquo;"
                    lastText="&raquo;" [maxSize]="5"></pagination>
            </div>
        </div>
    </div>

    <!-- <ng-container *ngIf="!verifiercordListData || (verifiercordListData && verifiercordListData.length === 0)">
        <div class="error-wrapper">
            <p>
                No Data Found
            </p>
        </div>
    </ng-container> -->
</ng-container>

<ng-template #fileTemplate>
    <div class="modal-header">
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-file-upload (AwsFileList)="onGetUploadedFile($event)"></app-file-upload>
    </div>
</ng-template>