@import "../../../assets/css/variables";

.claim-dashboard-box {
  padding: 28px 20px 20px;
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 8px;
  .claims-allocated-box,
  .claims-action-pending-box,
  .claims-in-progress-box,
  .claims-verify-box {
    background-color: $seaGreenColor;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    height: 95px;
    padding: 26px 0 0 28px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    img {
      margin-right: 14px;
    }
    h5 {
      font-weight: 700;
      margin-bottom: 0;
      color: $white;
    }
    h6 {
      color: $white;
      margin-bottom: 0;
    }
  }
  .claims-action-pending-box {
    background-color: $purpleColor;
  }
  .claims-in-progress-box {
    background-color: $blueColor;
  }
  .claims-verify-box {
    background-color: $verifyTabColor;
  }
  .claim-dashboard-search {
    margin-bottom: 10px;
    .form-select-md {
      width: 100%;
    }
    .btn-primary {
      background-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      border-color: $buttonColor;
    }
  }
}

.cord-box {
  padding: 0 20px 15px;
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin: 14px 0 18px;
}

.cases-claims-box {
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 14px;
  padding-right: 25px;
  .claim-dashboard-btns {
    h6 {
      font-weight: 600;
      font-size: $fontSize14;
      color: $textColor;
      padding: 20px 20px 24px;
      margin-bottom: 0;
    }
    .btn1 {
      margin-left: 49% !important;
      padding: 9px 15px !important;
    }
    .btn-primary {
      background-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      margin-left: 10px;
      border-color: $buttonColor;
    }
    .btn-outline-primary {
      border-color: $icon-color;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $icon-color;
      padding: 6px 15px;
    }
    .btn-light {
      background-color: $tableTextColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      margin-left: 10px;
      border-color: $tableTextColor;
    }
    .active {
      background-color: $buttonColor;
      border-color: $buttonColor;
    }
    .v-bnt1 {
      margin-left: 45%;
    }
    .btn-outline-primary:hover {
      background: $white;
    }
    .form-select {
      width: 20%;
    }
  }
  .table-container {
    height: 520px;
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    .table {
      margin-bottom: 19px;
      width: 6000px;
    }
    th {
      background-color: $tableHeaderColor;
      font-weight: 600;
      font-size: $fontSize12;
      color: $white;
      height: 52px;
    }
    td {
      font-size: $fontSize12;
      color: $navbarTextColor;
      height: 64px;
      .text-color {
        color: $icon-color;
        cursor: pointer;
      }
    }
    th:first-child,
    td:first-child {
      padding-left: 16px;
    }
    th:last-child {
      position: sticky;
    }

    th:last-child,
    td:last-child {
      right: 0px;
      width: 140px;
      position: sticky;
    }
    td:last-child {
      background-color: $white;
    }
    span.allocate-button {
      color: $buttonColor;
      padding: 5px 20px;
      background-color: $blueButtonColor;
      border-radius: 8px;
      cursor: pointer;
    }
    span.tracking-button {
      border-radius: 8px;
      cursor: pointer;
      padding: 5px 20px;
      margin-top: 5px;
      color: $buttonColor;
      background-color: $tableBlueTextColor;
    }
    .status-button {
      color: $blueColor;
    }
    span {
      .fa-file-text-o {
        cursor: pointer;
        color: $buttonColor;
        font-size: $fontSize16;
      }
      .fa-download {
        cursor: pointer;
        color: $buttonColor;
        font-size: $fontSize16;
        margin-left: 10px;
      }
      .fa-map-o {
        cursor: pointer;
        color: $buttonColor;
        font-size: $fontSize16;
        margin-left: 10px;
        margin-top: 5px;
      }
    }
  }
  .pagination-box {
    padding: 10px 26px 20px 20px;
    .pages-per-rows {
      .per-row-title {
        font-size: $fontSize14;
        color: $navbarTextColor;
        margin-right: 8px;
        margin-bottom: 0;
      }
      .per-row-text {
        font-weight: 800;
        font-size: $fontSize14;
        color: $buttonColor;
        padding: 0;
        margin-right: 5px;
        margin-bottom: 0;
      }
    }

    .pagination-content {
      ::ng-deep ul.pagination {
        margin-bottom: 0;
        padding-bottom: 10px;
        li.page-item .page-link {
          width: 30px;
          height: 30px;
          border-color: $icon-color;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: $fontSize14;
          color: $icon-color;
          padding: 0;
          margin: 0 7px !important;
        }
        li.page-item.active .page-link {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
          z-index: 0;
        }
        li.page-item .page-link:hover {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
        }
        li.pagination-prev .page-link,
        li.pagination-next .page-link {
          border-color: $paginationBorderColor;
          color: $paginationArrowColor;
          font-size: $fontSize24;
        }
        li.pagination-prev.disabled .page-link {
          color: $paginationBorderColor;
        }
      }
    }
  }
}
.cases-upload-box {
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 14px;
  padding-right: 25px;
  .claim-dashboard-btns {
    h6 {
      font-weight: 600;
      font-size: $fontSize14;
      color: $textColor;
      padding: 20px 20px 24px;
      margin-bottom: 0;
    }
    .btn1 {
      margin-left: 55% !important;
      padding: 7px 15px;
    }
    .btn-primary {
      background-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      margin-left: 10px;
      border-color: $buttonColor;
    }
    .btn-outline-primary {
      border-color: $icon-color;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $icon-color;
      padding: 6px 15px;
    }
    .btn-outline-primary:hover {
      background: $white;
    }
    .form-select {
      width: 20%;
    }
  }
  .table-container {
    height: 520px;
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    .table {
      margin-bottom: 19px;
      width: 5000px;
      tr.changeBgColor {
        background: $brightRedColor;
        td {
          color: $white;
        }
      }
    }
    th {
      background-color: $tableHeaderColor;
      font-weight: 600;
      font-size: $fontSize12;
      color: $white;
      height: 52px;
    }
    td {
      font-size: $fontSize12;
      color: $navbarTextColor;
      height: 64px;
    }
    th:first-child,
    td:first-child {
      padding-left: 16px;
    }

    th:last-child,
    td:last-child {
      right: 0px;
      width: 107px;
    }
    td:last-child {
      background-color: $white;
    }
  }
  .pagination-box {
    padding: 10px 26px 20px 20px;
    .pages-per-rows {
      .per-row-title {
        font-size: $fontSize14;
        color: $navbarTextColor;
        margin-right: 8px;
        margin-bottom: 0;
      }
      .per-row-text {
        font-weight: 800;
        font-size: $fontSize14;
        color: $buttonColor;
        padding: 0;
        margin-right: 5px;
        margin-bottom: 0;
      }
    }

    .pagination-content {
      ::ng-deep ul.pagination {
        margin-bottom: 0;
        padding-bottom: 10px;
        li.page-item .page-link {
          width: 30px;
          height: 30px;
          border-color: $icon-color;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: $fontSize14;
          color: $icon-color;
          padding: 0;
          margin: 0 7px !important;
        }
        li.page-item.active .page-link {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
          z-index: 0;
        }
        li.page-item .page-link:hover {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
        }
        li.pagination-prev .page-link,
        li.pagination-next .page-link {
          border-color: $paginationBorderColor;
          color: $paginationArrowColor;
          font-size: $fontSize24;
        }
        li.pagination-prev.disabled .page-link {
          color: $paginationBorderColor;
        }
      }
    }
  }
}

.verifier-table {
  .claim-dashboard-btns {
    .btn-primary {
      background-color: $tableTextColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      margin-left: 10px;
      border-color: $tableTextColor;
    }
    .active {
      background-color: $buttonColor;
      border-color: $buttonColor;
    }
  }
  .table-container {
    .table {
      margin-bottom: 19px;
      width: 3000px !important;
    }
  }
}
.error-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  margin: 2% auto;
  h1 {
    font-size: 34px;
    font-weight: 500;
  }
  p {
    font-size: 26px;
    font-weight: 400;
  }
}

.raise-additional-container {
  margin: 14px 0 20px;
  .new-requirements-table {
    .table {
      margin-bottom: 0;
      margin-top: 20px;
      thead {
        border-color: $tableBorderColor;
        position: sticky;
        top: 0;
        tr {
          border-width: 0.5px;
          th {
            background-color: $buttonColor;
            color: $white;
            font-weight: 600;
            font-size: $fontSize12;
            padding: 11px 16px;
            border: none;
          }
        }
      }
      tbody {
        border: 0.5px solid $tableBorderColor;
        tr {
          border-width: 0.5px;
          td {
            padding: 12px 16px;
            font-weight: 500;
            font-size: $fontSize12;
            color: $black;
            border-width: 0.5px;
          }
        }
      }
    }
    .addtionalTable {
      height: 300px;
      overflow-y: scroll;
    }
  }
  .btn-primary {
    font-weight: 600;
    font-size: $fontSize14;
    color: $white;
    background-color: $buttonColor;
    border-color: $buttonColor;
    border-radius: 5px;
    width: 25%;
    height: 43px;
    margin-top: 30px;
  }
}

// Discrepancy/New Requirements
.new-requirements-container {
  margin: 14px 0 20px;

  .new-requirements-heading {
    font-weight: 600;
    font-size: $fontSize16;
    color: $black;
    margin-bottom: 12px;
  }
  .new-requirements-table {
    .table {
      margin-bottom: 0;
      margin-top: 10px;
      thead {
        border-color: $tableBorderColor;
        position: sticky;
        top: 0;
        tr {
          border-width: 0.5px;
          th {
            background-color: $buttonColor;
            color: $white;
            font-weight: 600;
            font-size: $fontSize12;
            padding: 11px 16px;
            border: none;
          }
        }
      }
      tbody {
        border: 0.5px solid $tableBorderColor;
        tr {
          border-width: 0.5px;
          td {
            padding: 8px 16px;
            font-weight: 500;
            font-size: $fontSize12;
            color: $black;
            border-width: 0.5px;
            .doc-status-red-text,
            .doc-status-grey-text,
            .doc-status-yellow-text,
            .doc-status-blue-text {
              font-weight: 600;
              font-size: $fontSize10;
              color: $tableTextColor;
              margin-bottom: 0;
              border-radius: 50px;
              padding: 4px 12px;
              background-color: $greyButtonColor;
              display: inline;
            }
            .doc-status-yellow-text {
              color: $secondary;
              background-color: $fadedYellow;
            }

            .doc-status-red-text {
              color: $tableRedTextColor;
              background-color: $redButtonColor;
            }
            .doc-status-blue-text {
              color: $blueColor;
              background-color: $blueButtonColor;
            }
          }
        }
      }
    }
  }

  .document-preview-container {
    border: 0.5px solid $previewBorderColor;
    height: 100%;
    padding: 20px;
    .upload-required-text {
      font-size: $fontSize13;
      color: $black;
      margin-bottom: 16px;
    }
    .form-select {
      height: 45px;
      padding: 0 16px 0 20px;
      font-weight: 600;
      font-size: $fontSize14;
      letter-spacing: 0.02em;
      color: $black;
    }
    .browse-upload-box {
      border: 1px solid $inputBorderColor;
      border-radius: 4px;
      margin-top: 12px;
      padding: 6px 16px 6px 20px;
      .browse-text {
        font-weight: 600;
        font-size: $fontSize14;
        color: $uploadTextColor;
        margin-bottom: 0;
      }
      .btn-light {
        font-weight: 600;
        font-size: $fontSize14;
        color: $black;
        background-color: $white;
        border-color: $uploadButtonBorderColor;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 7px 20px;
      }
    }
    .btn-primary {
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      background-color: $buttonColor;
      border-color: $buttonColor;
      border-radius: 5px;
      width: 100%;
      height: 43px;
      margin-top: 30px;
    }
  }

  .discrepancy-remark-container {
    .discrepancy-remark-text {
      font-size: $fontSize13;
      letter-spacing: 0.02em;
      color: $black;
      margin-top: 16px;
    }
    .discrepancy-remark {
      background-color: $inputBackground;
      border: 1px solid $inputBorderColor;
      border-radius: 4px;
      padding: 12px 20px 14px;
      .document-mismatch-text,
      .bank-account-cheque-leaf {
        font-weight: 600;
        font-size: $fontSize14;
        color: $black;
        margin-bottom: 0;
      }
      .bank-account-cheque-leaf {
        margin-top: 31px;
      }
    }
  }
}

.modal-body {
  .agent-allocated {
    margin-bottom: 10px;
    height: 150px;
    .form-select-md {
      width: 200px;
    }
    .btn-primary {
      background-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      border-color: $buttonColor;
    }
  }
}

//tracking
.tracking-container {
  margin: 14px 0 20px;
  height: 400px;
  max-height: 400;
  overflow-y: scroll;
  .new-requirements {
    background-color: $icon-color;
    padding: 5px 10px;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    justify-content: space-between;
    p {
      color: $white;
      font-size: $fontSize16;
      text-align: left;
      padding-top: 10px;
      font-weight: 500;
      span {
        font-size: $fontSize18;
        font-weight: 700;
      }
    }
  }
  .inner-Wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    border: 1px solid $borderColor;
    padding: 10px;
    margin-bottom: 20px;
    p {
      padding-top: 10px;
      color: $navbarTextColor;
      font-size: $fontSize14;
      font-weight: 500;
      span {
        font-size: $fontSize16;
        color: $black;
      }
    }
  }
  .down-Wrapper {
    margin-top: 0px;
    border: 1px solid $borderColor;
    border-radius: 7px;
    .content {
      justify-content: space-between;
      display: flex;
      p {
        font-size: $fontSize14;
        padding: 5px;
        color: $navbarTextColor;
        margin-left: 5px;
        span {
          color: $black;
          font-size: $fontSize16;
        }
      }
      .img-icon {
        margin-right: 40px;
        margin-top: 15px;
      }
    }
  }
}
