@import "../../../assets/css/variables";

.claim-dashboard-box {
  padding: 28px 20px 20px;
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 8px;
  .claims-allocated-box,
  .claims-action-pending-box,
  .claims-in-progress-box,
  .claims-verify-box {
    background-color: $seaGreenColor;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    height: 95px;
    padding: 26px 0 0 28px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    img {
      margin-right: 14px;
    }
    h5 {
      font-weight: 700;
      margin-bottom: 0;
      color: $white;
    }
    h6 {
      color: $white;
      margin-bottom: 0;
    }
  }
  .claims-action-pending-box {
    background-color: $purpleColor;
  }
  .claims-in-progress-box {
    background-color: $blueColor;
  }
  .claims-verify-box {
    background-color: $verifyTabColor;
  }
  .claim-dashboard-search {
    margin-bottom: 10px;
    .form-select-md {
      width: 100%;
    }
    .btn-primary {
      background-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      border-color: $buttonColor;
    }
  }
}

.cord-box {
  padding: 0 20px 15px;
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin: 14px 0 18px;
}

// .bulk-upload-box {
//   padding: 0 20px 15px;
//   background-color: $white;
//   box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
//   border-radius: 6px;
//   margin: 14px 0 18px;
//   .upload-box-head {
//     padding: 16px 0 12px;
//     h6 {
//       margin-bottom: 0;
//       font-weight: 600;
//       font-size: $fontSize14;
//       color: $textColor;
//     }
//     .btn-outline-primary {
//       border-color: $icon-color;
//       border-radius: 5px;
//       font-weight: 600;
//       font-size: $fontSize14;
//       color: $icon-color;
//     }
//     .btn-outline-primary:hover {
//       background-color: $white;
//     }
//   }
//   .upload-box {
//     background-color: $white;
//     border: 1px dashed $borderColor;
//     border-radius: 8px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 228px;
//     text-decoration: none;
//     h6 {
//       margin-bottom: 0;
//       font-size: $fontSize14;
//       color: $buttonColor;
//       margin-top: 12px;
//       span {
//         font-weight: 400;
//         color: $uploadText;
//       }
//     }
//   }
// }

.cases-claims-box {
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 14px;
  padding-right: 25px;
  .claim-dashboard-btns {
    h6 {
      font-weight: 600;
      font-size: $fontSize14;
      color: $textColor;
      padding: 20px 20px 24px;
      margin-bottom: 0;
    }
    .btn1 {
      margin-left: 32% !important;
      padding: 7px 15px !important;
    }
    .btn-primary {
      background-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      margin-left: 10px;
      border-color: $buttonColor;
    }
    .btn-outline-primary {
      border-color: $icon-color;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $icon-color;
      padding: 6px 15px;
    }
    .btn-outline-primary:hover {
      background: $white;
    }
    .form-select {
      width: 20%;
    }
  }
  .table-container {
    .table {
      margin-bottom: 19px;
      width: 6000px;
    }
    th {
      background-color: $tableHeaderColor;
      font-weight: 600;
      font-size: $fontSize12;
      color: $white;
      height: 52px;
    }
    td {
      font-size: $fontSize12;
      color: $navbarTextColor;
      height: 64px;
    }
    th:first-child,
    td:first-child {
      padding-left: 16px;
    }
    th:last-child,
    td:last-child {
      position: sticky;
      right: 0px;
      width: 107px;
    }
    td:last-child {
      background-color: $white;
    }
    .status-button {
      color: $blueColor;
      // background-color: $blueButtonColor;
    }
    span {
      .fa-file-text-o {
        cursor: pointer;
        color: $buttonColor;
        font-size: $fontSize16;
      }
    }
  }
  .pagination-box {
    padding: 10px 26px 20px 20px;
    .pages-per-rows {
      .per-row-title {
        font-size: $fontSize14;
        color: $navbarTextColor;
        margin-right: 8px;
        margin-bottom: 0;
      }
      .per-row-text {
        font-weight: 800;
        font-size: $fontSize14;
        color: $buttonColor;
        padding: 0;
        margin-right: 5px;
        margin-bottom: 0;
      }
    }

    .pagination-content {
      ::ng-deep ul.pagination {
        margin-bottom: 0;
        padding-bottom: 10px;
        li.page-item .page-link {
          width: 30px;
          height: 30px;
          border-color: $icon-color;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: $fontSize14;
          color: $icon-color;
          padding: 0;
          margin: 0 7px !important;
        }
        li.page-item.active .page-link {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
          z-index: 0;
        }
        li.page-item .page-link:hover {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
        }
        li.pagination-prev .page-link,
        li.pagination-next .page-link {
          border-color: $paginationBorderColor;
          color: $paginationArrowColor;
          font-size: $fontSize24;
        }
        li.pagination-prev.disabled .page-link {
          color: $paginationBorderColor;
        }
      }
    }
  }
}
.cases-upload-box {
  background-color: $white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 14px;
  padding-right: 25px;
  .claim-dashboard-btns {
    h6 {
      font-weight: 600;
      font-size: $fontSize14;
      color: $textColor;
      padding: 20px 20px 24px;
      margin-bottom: 0;
    }
    .btn1 {
      margin-left: 55% !important;
      padding: 7px 15px;
    }
    .btn-primary {
      background-color: $buttonColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      margin-left: 10px;
      border-color: $buttonColor;
    }
    .btn-outline-primary {
      border-color: $icon-color;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $icon-color;
      padding: 6px 15px;
    }
    .btn-outline-primary:hover {
      background: $white;
    }
    .form-select {
      width: 20%;
    }
  }
  .table-container {
    .table {
      margin-bottom: 19px;
      width: 5000px;
    }
    th {
      background-color: $tableHeaderColor;
      font-weight: 600;
      font-size: $fontSize12;
      color: $white;
      height: 52px;
    }
    td {
      font-size: $fontSize12;
      color: $navbarTextColor;
      height: 64px;
    }
    th:first-child,
    td:first-child {
      padding-left: 16px;
    }
    th:last-child,
    td:last-child {
      // position: sticky;
      right: 0px;
      width: 107px;
    }
    td:last-child {
      background-color: $white;
    }
  }
  .pagination-box {
    padding: 10px 26px 20px 20px;
    .pages-per-rows {
      .per-row-title {
        font-size: $fontSize14;
        color: $navbarTextColor;
        margin-right: 8px;
        margin-bottom: 0;
      }
      .per-row-text {
        font-weight: 800;
        font-size: $fontSize14;
        color: $buttonColor;
        padding: 0;
        margin-right: 5px;
        margin-bottom: 0;
      }
    }

    .pagination-content {
      ::ng-deep ul.pagination {
        margin-bottom: 0;
        padding-bottom: 10px;
        li.page-item .page-link {
          width: 30px;
          height: 30px;
          border-color: $icon-color;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: $fontSize14;
          color: $icon-color;
          padding: 0;
          margin: 0 7px !important;
        }
        li.page-item.active .page-link {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
          z-index: 0;
        }
        li.page-item .page-link:hover {
          background-color: $buttonColor;
          border-color: $buttonColor;
          color: $white;
        }
        li.pagination-prev .page-link,
        li.pagination-next .page-link {
          border-color: $paginationBorderColor;
          color: $paginationArrowColor;
          font-size: $fontSize24;
        }
        li.pagination-prev.disabled .page-link {
          color: $paginationBorderColor;
        }
      }
    }
  }
}

.verifier-table {
  .claim-dashboard-btns {
    .btn-primary {
      background-color: $tableTextColor;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontSize14;
      color: $white;
      padding: 6px 15px;
      margin-left: 10px;
      border-color: $tableTextColor;
    }
    .active {
      background-color: $buttonColor;
      border-color: $buttonColor;
    }
  }
  .table-container {
    .table {
      margin-bottom: 19px;
      width: 4000px !important;
    }
  }
}
.error-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  margin: 2% auto;
  h1 {
    font-size: 34px;
    font-weight: 500;
  }
  p {
    font-size: 26px;
    font-weight: 400;
  }
}

// Discrepancy/New Requirements
.raise-additional-container {
  margin: 14px 0 20px;
  // padding: 22px 100px 24px 127px;
  .new-requirements-heading {
    font-weight: 600;
    font-size: $fontSize16;
    color: $black;
    margin-bottom: 12px;
  }
  .new-requirements-table {
    .table {
      margin-bottom: 0;
      thead {
        border-color: $tableBorderColor;
        position: sticky;
        top: 0;
        tr {
          border-width: 0.5px;
          th {
            background-color: $buttonColor;
            color: $white;
            font-weight: 600;
            font-size: $fontSize12;
            padding: 11px 16px;
            border: none;
          }
        }
      }
      tbody {
        border: 0.5px solid $tableBorderColor;
        tr {
          border-width: 0.5px;
          td {
            padding: 8px 16px;
            font-weight: 500;
            font-size: $fontSize12;
            color: $black;
            border-width: 0.5px;
          }
        }
      }
    }
  }
  .btn-primary {
    font-weight: 600;
    font-size: $fontSize14;
    color: $white;
    background-color: $buttonColor;
    border-color: $buttonColor;
    border-radius: 5px;
    width: 25%;
    height: 43px;
    margin-top: 30px;
  }
}

// .document-preview-container {
//   border: 0.5px solid $previewBorderColor;
//   height: 100%;
//   padding: 20px;
//   .upload-required-text {
//     font-size: $fontSize13;
//     color: $black;
//     margin-bottom: 16px;
//   }
//   .form-select {
//     height: 45px;
//     padding: 0 16px 0 20px;
//     font-weight: 600;
//     font-size: $fontSize14;
//     letter-spacing: 0.02em;
//     color: $black;
//   }
//   .browse-upload-box {
//     border: 1px solid $inputBorderColor;
//     border-radius: 4px;
//     margin-top: 12px;
//     padding: 6px 16px 6px 20px;
//     .browse-text {
//       font-weight: 600;
//       font-size: $fontSize14;
//       color: $uploadTextColor;
//       margin-bottom: 0;
//     }
//     .btn-light {
//       font-weight: 600;
//       font-size: $fontSize14;
//       color: $black;
//       background-color: $white;
//       border-color: $uploadButtonBorderColor;
//       box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
//       border-radius: 4px;
//       padding: 7px 20px;
//     }
//   }
//   .btn-primary {
//     font-weight: 600;
//     font-size: $fontSize14;
//     color: $white;
//     background-color: $buttonColor;
//     border-color: $buttonColor;
//     border-radius: 5px;
//     width: 100%;
//     height: 43px;
//     margin-top: 30px;
//   }
// }

// .discrepancy-remark-container {
//   .discrepancy-remark-text {
//     font-size: $fontSize13;
//     letter-spacing: 0.02em;
//     color: $black;
//     margin-top: 16px;
//   }
//   .discrepancy-remark {
//     background-color: $inputBackground;
//     border: 1px solid $inputBorderColor;
//     border-radius: 4px;
//     padding: 12px 20px 14px;
//     .document-mismatch-text,
//     .bank-account-cheque-leaf {
//       font-weight: 600;
//       font-size: $fontSize14;
//       color: $black;
//       margin-bottom: 0;
//     }
//     .bank-account-cheque-leaf {
//       margin-top: 31px;
//     }
//   }
// }
