<div class="cases-claims-box">
        <div class="claim-dashboard-btns d-flex justify-content-between align-items-center"
                *ngIf="verifierRequestList && verifierRequestList.length > 0">
                <h6>Case/Claim({{totalrecords || 0}})</h6>
                <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Filter by Status</option>
                        <option value="1">All</option>
                        <option value="2">Pending</option>
                        <option value="3">Submitted Document</option>
                </select> -->
        </div>
        <div class="table-container table-responsive">
                <table class="table table-sm">
                        <thead>
                                <tr class="align-middle">
                                        <th scope="col">S.No</th>
                                        <th scope="col">PunchIn Ref. ID</th>
                                        <th scope="col">Claim Registration Date </th>
                                        <th scope="col">Borrower Name</th>
                                        <th scope="col">Nominee Name </th>
                                        <th scope="col">Contact number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Signed claim form </th>
                                        <th scope="col">Death Certificate </th>
                                        <th scope="col">Borrower KYC Proof</th>
                                        <th scope="col"> Nominee KYC Proof</th>
                                        <th scope="col">Bank A/c Proof </th>
                                        <th scope="col">Additional Document</th>
                                        <th scope="col" class="text-center">Action</th>
                                </tr>
                        </thead>
                        <ng-container *ngIf="verifierRequestList && verifierRequestList.length > 0">
                                <tbody class="align-middle" *ngFor="let item of verifierRequestList;let i = index">
                                        <tr>
                                                <td>{{ (pageNo) * pageSize + i +1 }}</td>
                                                <td>{{item.punchinClaimId}}</td>
                                                <td>{{item.claimDate |date: 'dd/MM/yyyy'}}</td>
                                                <td>{{item.borrowerName}}</td>
                                                <td>{{item.nomineeName}}</td>
                                                <td>{{item.borrowerContactNumber}}</td>
                                                <td>{{item.borrowerAddress}}</td>
                                                <td>
                                                        <span *ngIf="item.singnedClaimDocument === 'UPLOADED'"> <img
                                                                        src="assets/icons/bluetick.svg"></span>
                                                        <span *ngIf="item.singnedClaimDocument === 'NOT_UPLOADED'"> <img
                                                                        src="assets/icons/cross.svg"></span>
                                                        <span *ngIf="item.singnedClaimDocument === 'APPROVED'"><img
                                                                        src="assets/icons/tick-green.svg"></span>
                                                        <span *ngIf="item.singnedClaimDocument === 'REJECTED'"><img
                                                                        src="assets/icons/cross-red.svg">
                                                        </span>
                                                </td>
                                                <td>
                                                        <span *ngIf="item.deathCertificate === 'UPLOADED'"> <img
                                                                        src="assets/icons/bluetick.svg"></span>
                                                        <span *ngIf="item.deathCertificate === 'NOT_UPLOADED'"> <img
                                                                        src="assets/icons/cross.svg"></span>
                                                        <span *ngIf="item.deathCertificate === 'APPROVED'"><img
                                                                        src="assets/icons/tick-green.svg"></span>
                                                        <span *ngIf="item.deathCertificate === 'REJECTED'">
                                                                <img src="assets/icons/cross-red.svg">
                                                        </span>
                                                </td>
                                                <td>
                                                        <span *ngIf="item.borrowerKycProof === 'UPLOADED'"> <img
                                                                        src="assets/icons/bluetick.svg"></span>
                                                        <span *ngIf="item.borrowerKycProof === 'NOT_UPLOADED'"> <img
                                                                        src="assets/icons/cross.svg"></span>
                                                        <span *ngIf="item.borrowerKycProof === 'APPROVED'"><img
                                                                        src="assets/icons/tick-green.svg"></span>
                                                        <span *ngIf="item.borrowerKycProof === 'REJECTED'"><img
                                                                        src="assets/icons/cross-red.svg">
                                                        </span>
                                                </td>
                                                <td>
                                                        <span *ngIf="item.nomineeKycProof === 'UPLOADED'"> <img
                                                                        src="assets/icons/bluetick.svg"></span>
                                                        <span *ngIf="item.nomineeKycProof === 'NOT_UPLOADED'"> <img
                                                                        src="assets/icons/cross.svg"></span>
                                                        <span *ngIf="item.nomineeKycProof === 'APPROVED'"><img
                                                                        src="assets/icons/tick-green.svg"></span>
                                                        <span *ngIf="item.nomineeKycProof === 'REJECTED'"><img
                                                                        src="assets/icons/cross-red.svg">
                                                        </span>
                                                </td>
                                                <td>
                                                        <span *ngIf="item.bankAccountProof === 'UPLOADED'"> <img
                                                                        src="assets/icons/bluetick.svg"></span>
                                                        <span *ngIf="item.bankAccountProof === 'NOT_UPLOADED'"> <img
                                                                        src="assets/icons/cross.svg"></span>
                                                        <span *ngIf="item.bankAccountProof === 'APPROVED'"><img
                                                                        src="assets/icons/tick-green.svg"></span>
                                                        <span *ngIf="item.bankAccountProof === 'REJECTED'"><img
                                                                        src="assets/icons/cross-red.svg">
                                                        </span>
                                                </td>
                                                <td>
                                                        <span *ngIf="item.additionalDoc === 'UPLOADED'"> <img
                                                                        src="assets/icons/bluetick.svg"></span>
                                                        <span *ngIf="item.additionalDoc === 'NOT_UPLOADED'"> <img
                                                                        src="assets/icons/cross.svg"></span>
                                                        <span *ngIf="item.additionalDoc ==='APPROVED'"><img
                                                                        src="assets/icons/tick-green.svg"></span>
                                                        <span *ngIf="item.additionalDoc === 'REJECTED'"><img
                                                                        src="assets/icons/cross-red.svg">
                                                        </span>
                                                </td>
                                                <td class="text-center"
                                                        (click)="openModal(item.id, item.agentName, item.agentCity)">
                                                        <span><img src="assets/icons/eye.svg"></span></td>
                                        </tr>
                                </tbody>
                        </ng-container>

                </table>
        </div>
        <div class="pagination-box d-flex justify-content-end align-items-center"
                *ngIf="verifierRequestList && verifierRequestList.length > 0">
                <!-- <div class="pages-per-rows d-flex align-items-center">
        <select (input)="pagePerData($event)">
            <option value="10">10</option>
            <option [value]="totalrecords">{{totalrecords}}</option>
        </select>
    </div> -->
                <div class="pagination-content">
                        <pagination [boundaryLinks]="true" [totalItems]="totalrecords"
                                (pageChanged)="pageChanged($event)" [maxSize]="5" previousText="&lsaquo;"
                                nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                </div>
        </div>
</div>
<!-- <ng-container *ngIf="!verifierRequestList || (verifierRequestList && verifierRequestList?.length === 0)">
        <div class="error-wrapper">
                <p>
                        No Data Found
                </p>
        </div>
</ng-container> -->